/*------------------------------------------------------------------
[General elements style]
*/

html
{
	height: 100%;
	font-size: 13px;
}

body
{
	padding: 0;
	background-color: $body-background;
	height: 100%;
	min-height: 100%;
	line-height: 1.42857143;
	
	&.be-alt-bg
	{
		background-color: #fff;
	}
	
	&.open-left-sidebar,
	&.open-right-sidebar,
	&.open-icons-nav,
	&.no-scroll
	{
		@include media_size("tablet") { overflow: hidden; }
		@include media_size("touch") { overflow: hidden; }
	}
}

a
{
	&:focus,
	&:hover
	{
		text-decoration: none;
	}	
}

p
{
	font-size: $paragraph-font-size;
	line-height: $paragraph-line-height;
}

canvas
{
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
