
$konkon-color:		#fe669e;
$skk-konkon:		lighten($konkon-color, 6.1%);
$card-konkon: 		$skk-konkon;
$dropdown-konkon:	$skk-konkon;
$modal-konkon:		$skk-konkon;

$konkon-color-dark: 		darken($konkon-color, 10%);
$konkon-color-darkest: 	    darken($konkon-color, 20%);
$konkon-color-light: 		lighten($konkon-color, 10%);
$konkon-color-lightest: 	lighten($konkon-color, 20%);

$btn-konkon-color:          #fff;
$btn-konkon-bg:             $konkon-color;
$btn-konkon-border:         darken($btn-konkon-bg, 5%);

$alert-konkon-bg:            $konkon-color;
$alert-konkon-text:          #fff;
$alert-konkon-border:        $konkon-color;
