$px-rem-size: 1 / 13;

//== Nav Tabs
//
//##
$nav-tabs-sides-padding-y:                    1.077rem;
$nav-tabs-sides-padding-x:                    .923rem;

//== Switches
//
//##

$switch-width:                4.385rem;
$switch-height:               1.846rem;
$switch-padding:              .308rem;
$switch-line-height:          $switch-height - $switch-padding;
$switch-border-radius:        50px;

$switch-label-width:          $switch-height - ($switch-padding * 2);
$switch-label-height:         $switch-height - ($switch-padding * 2);
$switch-label-border-radius:  50%;


//Content Ribbons
$ribbon-top:					1.154rem;
$ribbon-left:					-($ribbon-top * 2);
$ribbon-bottom:					$ribbon-top;
$ribbon-right:					$ribbon-left;
$ribbon-padding-y:				0.538rem;
$ribbon-padding-x:				1.154rem;

//Brand Logo
$logo-width:					10.923rem;
$logo-height:					27px;
$logo-padding:					map-get($spacers, 4);
$logo-position:                 center;
$logo-size:						contain;

//Content
$content-padding:				map-get($spacers, 5);
$content-padding-tablet:		map-get($spacers, 5);
$content-padding-phone:			map-get($spacers, 3);
$content-padding-small-phone:	map-get($spacers, 2);

//Perfect Scroller
$scroller-size:					6px;

//Aside
$page-aside-width:				21.538rem;
$page-aside-padding:			1.692rem;
$page-aside-title-size:			2.077rem;

//Top Header
$top-header-bg:					$light-color;
$top-header-phone-bg:			lighten($black-color, 10%);
$top-header-link-color:			darken($light-color, 55%);
$top-header-height:				60px;
$top-header-height-phone:		70px;
$top-header-navbar-color:		lighten($text-color, 10%);
$top-header-navbar-font-size:	$font-size-base + .077rem;
$top-header-navbar-padding:		18px;
$top-header-box-shadow:			0px 1px 2px rgba(0, 0, 0, 0.1);
$icons-nav-dropdown-width:		300px;
$user-dropdown-width:			220px;
$zindex-navbar-fixed:			1032;

//Left Sidebar
$left-sidebar-separators:			true;
$left-sidebar-bg:					#fff; // lighten($konkon-color, 28%);
$left-sidebar-hover-color:			lighten($konkon-color, 14%);
$left-sidebar-level-bg:				lighten($konkon-color, 28%);
$left-sidebar-level-hover:			lighten($konkon-color, 24%);
$left-sidebar-level-color:			$konkon-color;
$left-sidebar-border-color:			$left-sidebar-level-hover;

$left-sidebar-width:				0; // 17.692rem;
$left-sidebar-width-collapsed:		4.615rem;
$left-sidebar-color:				lighten($body-color, 16%);
$left-sidebar-logo-bg:				darken($dark-color, 1.5%);
$left-sidebar-icon-size:			1.462rem;
$left-sidebar-main-level-font-size:	1.077rem;
$left-sidebar-main-level-padding:	map-get($spacers, 4);
$left-sidebar-main-level-height:	$spacer * 2.923;
$left-sidebar-sub-level-color:		$konkon-color;
$left-sidebar-sub-level-bg:			lighten($konkon-color, 28%);
$left-sidebar-sub-level-hover:		lighten($konkon-color, 24%);
$left-sidebar-sub-level-font-size:	1rem;
$left-sidebar-sub-level-padding:	.615rem 1.154rem .615rem 3.769rem;

//Right Sidebar
$right-sidebar-width:				22.308rem;
$right-sidebar-width-phone:			22.308rem;
$right-sidebar-icons-color:			darken($light-color, 33.2%);
$right-sidebar-low-contrast-color:	darken($light-color, 30%);
$right-sidebar-background:			#fafafa;
$right-sidebar-z-index:				$zindex-navbar-fixed - 1;

//Typography

$font-size-base-global:		13; // Number in px as html root font-size
$font-size-large:        	$font-size-base * 1.15;
$font-size-small:        	$font-size-base * .9231;

$font-weight-thin:			100;
$font-weight-regular:		$font-weight-normal;
$font-weight-medium:		500;
$font-weight-black:			900;

$paragraph-font-size:		$font-size-base;
$paragraph-line-height:		$paragraph-font-size * $line-height-sm;
$paragraph-margin:			map-get($spacers, 3);

$list-line-height:			map-get($spacers, 4);

$display-heading-size:				3.077rem;
$display-heading-margin:			map-get($spacers, 4) 0 map-get($spacers, 3);
$display-description-size:			1.385rem;
$display-description-line-height:	$display-description-size * $line-height-sm;
$display-description-margin:		0 0 map-get($spacers, 8);

//== Sidebars
$sidebars-hardware-accelerated-animation:	true;
$sidebars-push-effect:						all .35s ease;

//== Components
//
//## Define common padding and border radius sizes and more.
//## Values based on 14px text and 1.428 line-height (~20px to start).

$border-radius-base:        $border-radius;
$border-radius-large:       $border-radius-lg;
$border-radius-small:       $border-radius-sm;

$padding-base-vertical:     0.7143rem;
$padding-base-horizontal:   12px;

$padding-large-vertical:    12px;
$padding-large-horizontal:  16px;

$padding-small-vertical:    5px;
$padding-small-horizontal:  9px;

$padding-xs-vertical:       1px;
$padding-xs-horizontal:     5px;

$line-height-large:         1.7;
$line-height-small:         1.6;


//Forms
$input-check-component-size:			$line-height-base;
$input-check-component-border:			1px solid #ccc;
$input-check-component-border-radius:	3px;

$radio-icon-component-size:				52px;
$radio-icon-component-color:			lighten(#404040, 25%); // lighten($input-color, 25%)
$radio-icon-component-icon-size:		36px;
$radio-icon-component-border:			#d5d8de;

$input-bg-disabled:				$gray-lighter;
$input-top-border:				#bdc0c7;
$input-border-radius-large:		$border-radius-large;
$input-border-radius-small:		$border-radius-small;
$input-border-focus:			$primary-color;
$input-color-placeholder:		#999;

$input-shadow-color:			0 0 0 2px rgba($primary-color, 0.25), 0 0 0 0.15rem transparent;

//** Default `.form-control` height
$input-height-base:              3.692rem;
$input-height-large:             57px;
$input-height-small:             37px;
$input-height-extra-small:       30px;

$legend-color:						$gray-dark;
$legend-border-color:				#e5e5e5;

//** Disabled cursor for form controls and buttons.
$cursor-disabled:               	 not-allowed;

$input-label-color:			 lighten(#404040, 15%); // lighten($input-color, 15%)

//Form validation states
$form-validation-icon-size:		 19px;

//Dropdowns
$dropdown-text-color:				lighten($dark-color, 7.2%);
$dropdown-border:					darken($light-color, 11%);
$dropdown-fallback-border:			$dropdown-border;

//Panels & Widget Panels
$card-body-padding:         		map-get($spacers, 4);
$card-default-heading-bg:			transparent !default;

$card-heading-padding-x:	        map-get($spacers, 4);
$card-heading-padding-top:  		map-get($spacers, 4);
$card-heading-padding-bottom:   	map-get($spacers, 3);
$card-heading-padding:              $card-heading-padding-top $card-heading-padding-x $card-heading-padding-bottom;

$card-heading-font-size:			1.385rem;
$card-heading-font-weight:			$font-weight-light;

$card-heading-icon-color:			darken($light-color, 27%);
$card-heading-icon-hover:			darken($light-color, 35%);
$card-heading-icon-size:			1.538rem;
$card-heading-icon-separation:		.154rem;
$card-heading-icon-line-height:		map-get($spacers, 5);

$card-footer-padding-x:	        map-get($spacers, 4);
$card-footer-padding-top:  		map-get($spacers, 4);
$card-footer-padding-bottom:   	1.308rem;
$card-footer-padding:           $card-footer-padding-top $card-footer-padding-x $card-footer-padding-bottom;

$card-title-margin-top:             map-get($spacers, 4);
$card-title-margin-bottom:          .538rem;
$card-notitle-margin-top:           map-get($spacers, 3);

$card-list-padding-x:               map-get($spacers, 4);
$card-metadata-font-size:           $font-size-sm;

$card-margin-bottom:				map-get($spacers, 5);
$card-box-shadow:					0px .077rem .154rem rgba(0, 0, 0, 0.1);


$widget-heading-font-size:			1.385rem;
$widget-heading-font-weight:		300;
$widget-horizontal-padding:			map-get($spacers, 4);
$widget-horizontal-padding-small:	map-get($spacers, 3);
$widget-margin-bottom:				$card-margin-bottom;
$widget-box-shadow:					$card-box-shadow;


//Buttons

//Sizes

$btn-icon-margin-left:          .308rem;	
$btn-icon-margin-right:         .077rem;

$btn-default-color:            	$text-color;
$btn-default-bg:               	#fff;
$btn-default-border:            #dbdbdb;

$btn-primary-color:            	#fff;
$btn-primary-bg:                #4285f4;
$btn-primary-border:            darken($btn-primary-bg, 5%);

$btn-success-color:             #fff;
$btn-success-bg:               	#34a853;
$btn-success-border:            darken($btn-success-bg, 5%);

$btn-info-color:                #fff;
$btn-info-bg:                   #6ba4ff;
$btn-info-border:               darken($btn-info-bg, 5%);

$btn-warning-color:             #fff;
$btn-warning-bg:                #fbbc05;
$btn-warning-border:            darken($btn-warning-bg, 5%);

$btn-danger-color:              #fff;
$btn-danger-bg:                 #ea4335;
$btn-danger-border:             darken($btn-danger-bg, 5%);

$btn-light-color:              	#404040;
$btn-light-bg:                 	#fff;
$btn-light-border:             	darken($btn-light-bg, 5%);

$btn-dark-color:              	#fff;
$btn-dark-bg:                 	#3d3c3c;
$btn-dark-border:             	darken($btn-dark-bg, 5%);


//== Alerts
$alert-icon-width:		60px;

//
//## Define alert colors, border radius, and padding.
$alert-primary-bg:            $primary-color;
$alert-primary-text:          $light-color;
$alert-primary-border:        $primary-color;

$alert-success-bg:            $success-color;
$alert-success-border:        $success-color;

$alert-info-bg:          	  $info-color;
$alert-info-border:      	  $info-color;

$alert-warning-bg:            $warning-color;
$alert-warning-border:        $warning-color;

$alert-danger-bg:             $danger-color;
$alert-danger-border:         $danger-color;

$alert-light-bg:             $light-color;
$alert-light-text:           $dark-color;
$alert-light-border:         $light-color;

$alert-dark-bg:             #a1a1a1;
$alert-dark-text:           $light-color;
$alert-dark-border:         #a1a1a1;


//== Labels
//
//##

//** Default label background color
$label-default-bg:            $light-color;
//** Primary label background color
$label-primary-bg:            $primary-color-text;
//** Success label background color
$label-success-bg:            $success-color-text;
//** Warning label background color
$label-warning-bg:            $warning-color-text;
//** Danger label background color
$label-danger-bg:             $danger-color-text;

//** Default label text color
$label-color:               	$light-color;
//** Default text color of a linked label
$label-link-hover-color:      darken($primary-color, 10%);


//== Badges
$badge-color:                 $text-color;
$badge-link-hover-color:      #fff;
$badge-bg:                    $light-color;


//Progress bars
$progress-lg-height:    1.692rem;
$progress-lg-font-size: $font-size-sm;
$progress-sm-height:    .308rem;



// [Main Theme Styles]

//Status color
$status-online:			#00b777;
$status-offline:		#e65a5a;
$status-away:			#f2c329;


//Dividers
$divider-border:		1px solid darken($light-color, 5%);
$divider-margin:		10px;
$divider-lg-margin:		15px;
$divider-xl-margin:		20px;

//Loader
$loader-background:		rgba(255, 255, 255, 0.7);


//Pricing Tables
$pricing-tables-margin:			30px 0 20px;
$pricing-table-border-radius:		$card-border-radius;
$pricing-table-horizontal-space:		10px;
$pricing-table-padding:			35px 20px;
$pricing-table-margin:		0 0 20px;
$pricing-table-value-size:		35px;
$pricing-table-price-line-height:	40px;
$pricing-table-frecuency-size:		1.538rem;
$pricing-table-fatures-line-height: 33px;
$pricing-table-button-height:		36px;
$pricing-table-button-min-width:		120px;


//==Pages

//Splash screen (login, sign up, forgot passwrd)
$splash-screen-bg: #eee;


//Login page
$login-width:      400px;
$login-margin-top: 0;


//Sign up page
$sign-up-width:		433px;
$sign-up-margin-top:		10px;


//Email pages
$email-page-favorite-color:	#ffc600;


//Charts
$chart-legend-color-size:		10px;
$chart-legend-padding:		6px;
$chart-pie-counter-size:		3.846rem;


//Timeline
$timeline-max-width:		840px;
$timeline-left-padding:		210px;
$timeline-vbar-position:		$timeline-left-padding - 40px;// From timeline-item element to left
$timeline-margin-helper:		10px; //Helper to thumbnails whitout damage timeline content size
$timeline-avatar-size:		35px;
$timeline-content-min-height: 85px;
$timeline-header-line-height: 21px;
$timeline-header-padding-top: ($timeline-avatar-size - $timeline-header-line-height) / 2;
$timeline-content-vpadding:	25px;
$timeline-date-width:		$timeline-vbar-position - 25px;
$timeline-date-position:		ceil($timeline-content-vpadding + $timeline-header-padding-top) + 2px;
$timeline-tail-size:		10px;
$timeline-tail-position:		ceil($timeline-content-min-height - $timeline-tail-size) / 2;
$timeline-bubble-size:		16px;
$timeline-bubble-position:		ceil($timeline-content-min-height - $timeline-bubble-size) / 2;
$timeline-icon-size:			44px;
$timeline-icon-border-width:	2px;
$timeline-icon-position:		floor(($timeline-content-min-height - $timeline-icon-size) / 2);


//Invoice
$invoice-page-padding:		100px 100px 70px;
$invoice-tablet-padding:			50px 50px 35px;
$invoice-small-phone-padding:		35px 25px 15px;
$invoice-logo-height:			$logo-height * 2;
$invoice-logo-width:			$logo-width * 2;
$invoice-logo-small-height:			$logo-height;
$invoice-logo-small-width:			$logo-width;
$invoice-header-margin:		100px;
$invoice-id-font-size:		2.308rem; // 30px
$invoice-id-lineheight:		$invoice-id-font-size;
$invoice-data-margin:			110px;
$invoice-person-font-size:			1.385rem; // 18px
$invoice-person-lineheight:			2rem; // 26px
$invoice-direction-height:			130px;
$invoice-direction-bubble-size:			80px;
$invoice-details-font-size:			1.231rem; // 16px
$invoice-payment-font-size:			1.385rem; // 18px
$invoice-payment-lineheight:		2rem; // 26px
$invoice-payment-margin:			75px;
$invoice-message-font-size:			1.231rem; // 16px
$invoice-message-lineheight:		2rem; // 26px
$invoice-message-margin:			62px;
$invoice-company-info-margin:		70px;
$invoice-footer-button-font-size:		1.077rem; // 14px



//Widgets


//User profile display widget
$user-profile-widget-avatar-size:	110px;

//User progress widget
$user-progress-height:		10px;


//==Plugins

//Nifty Modals
$modal-prefix:			modal;
$modal-zindex:			$zindex-modal;


//Gritter Notifications
$notification-width:		360px;
$notification-top-position:	82px;


//Select2
$select2-border-width:		.07692rem;


//Parsley
$parsley-error-bg:			$danger-color-text;


//Vector Maps
$vector-map-zoom-button-size: 30px;
$vector-map-zoom-font-size:	22px;
$vector-map-zoom-line-height: 24px;


//Social colors
$facebook:		#5d82d1;
$twitter:		#50bff5;
$google-plus:	#eb5e4c;
$dribbble:		#f7659c;
$youtube:		#ef4e41;
$flickr:		#0063dc;
$linkedin:		#238cc8;
$pinterest:		#e13138;
$github:		#24292e;
$tumblr:		#426d9b;
$evernote:		#2DBE60;
$dropbox:		#007EE5;
$codepen:		#333333;

$social-colors: ();

/*
$social-colors: map-merge(
  (
    "facebook":    $facebook,
    "twitter":     $twitter,
    "google-plus": $google-plus,
    "dribbble":    $dribbble,
    "youtube":     $youtube,
    "flickr":      $flickr,
    "linkedin":    $linkedin,
    "pinterest":   $pinterest,
    "github":      $github,
    "tumblr":      $tumblr,
    "evernote":    $evernote,
    "dropbox":     $dropbox,
    "codepen":     $codepen
  ),
  $social-colors
);
*/





