// Utilities

$utilities: map-merge(
   (
      "soft-background-color": (
         property: background-color,
         class: bg,
         values: $utilities-bg-soft
       )
   ),
   $utilities
);
