//Paths
$img-path: 				"../img";
$fonts-path: 			"../lib";
$lib-path: 				"../lib";

$roboto-font-path:			'#{$fonts-path}/roboto';
$roboto:					'Roboto', Arial, sans-serif;
$icons-font-path:			'#{$fonts-path}/material-design-icons/fonts';
$icons-font:				'Material Icons';

// Reset maps
$theme-colors: ();

//General colors palette brand
@import "konkon-colors";

//General colors palette

$dark-color:		#3d3c3c;
$light-color:		#ffffff;
$black-color:		#24292e;

$primary-color:		#4285f4; //#4285f4 #FE669E
$secondary-color:	#878787;
$danger-color:		#ea4335;
$warning-color:		#fbbc05;
$success-color:		#34a853;
$grey-color:		#cccccc;
$info-color:		#6ba4ff;

$gray-base:         #000;
$gray-darker:       lighten($gray-base, 13.5%); // #222
$gray-dark:         lighten($gray-base, 20%);   // #333
$gray:              lighten($gray-base, 33.5%); // #555
$gray-light:        lighten($gray-base, 46.7%); // #777
$gray-lighter:      lighten($gray-base, 93.5%); // #eee

$body-background:	lighten($black-color, 78%);// #eee;
$body-color:		lighten($black-color, 10%); // #404040;

$text-color:        $body-color;


//States Color
$secondary-color-text: #d9d9d9;


//Icons colors
$icon-default-color:   darken($light-color, 55%);


//Color variations
@import "colors";

