// Prefix
$prefix: bs- !default;

// Options
$enable-dark-mode:  true !default;
$enable-shadows:    true !default;

// Theme colours
$konkon:               #fe669e;
$konkon-color:         $konkon;
$konkon-text:          #983d5f;
$konkon-bg-subtle:     #ffe0ec;
$konkon-border-subtle: #ffd1e2;


// Theme Specific Bootstrap Variable Overrides
$base-font-sans-serif: Roboto, Arial, sans-serif, system-ui, -apple-system, "Segoe UI", "Helvetica Neue", "Noto Sans", "Liberation Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$base-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

$font-family-sans-serif: $base-font-sans-serif;
$font-family-monospace: $base-font-monospace;

$mark-bg: shift-color($konkon-color, -85%);
$code-color: $konkon-color;


//
// Main Bootstrap Overrides
//

// Color system
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$pink:		#fe669e;

// General colors palette
$dark:		$gray-800;
$light:		$gray-100;

$primary:	#4285f4;
$secondary:	#878787;
$danger:	   #ea4335;
$warning:	#ff9f00;
$success:	#34a853;
$info:		#6ba4ff;
$light:     $gray-100;
$dark:      $gray-900;

$primary-text:            #285092;
$secondary-text:          #1f2326;
$success-text:            #1f6532;
$info-text:               #406299;
$warning-text:            #995f00;
$danger-text:             #8c2820;
$light-text:              $gray-600 !default;
$dark-text:               $gray-700 !default;

// scss-docs-start theme-text-variables
$primary-text-emphasis:   shade-color($primary, 40%) !default;
$secondary-text-emphasis: shade-color($secondary, 40%) !default;
$success-text-emphasis:   shade-color($success, 40%) !default;
$info-text-emphasis:      shade-color($info, 40%) !default;
$warning-text-emphasis:   shade-color($warning, 40%) !default;
$danger-text-emphasis:    shade-color($danger, 40%) !default;
$light-text-emphasis:     $gray-700 !default;
$dark-text-emphasis:      $gray-700 !default;
// scss-docs-end theme-text-variables

// scss-docs-start theme-bg-subtle-variables
$primary-bg-subtle:       tint-color($primary, 80%) !default;
$secondary-bg-subtle:     tint-color($secondary, 80%) !default;
$success-bg-subtle:       tint-color($success, 80%) !default;
$info-bg-subtle:          tint-color($info, 80%) !default;
$warning-bg-subtle:       tint-color($warning, 80%) !default;
$danger-bg-subtle:        tint-color($danger, 80%) !default;
$light-bg-subtle:         mix($gray-100, $white) !default;
$dark-bg-subtle:          $gray-400 !default;
// scss-docs-end theme-bg-subtle-variables

// scss-docs-start theme-border-subtle-variables
$primary-border-subtle:   tint-color($primary, 60%) !default;
$secondary-border-subtle: tint-color($secondary, 60%) !default;
$success-border-subtle:   tint-color($success, 60%) !default;
$info-border-subtle:      tint-color($info, 60%) !default;
$warning-border-subtle:   tint-color($warning, 60%) !default;
$danger-border-subtle:    tint-color($danger, 60%) !default;
$light-border-subtle:     $gray-200 !default;
$dark-border-subtle:      $gray-500 !default;
// scss-docs-end theme-border-subtle-variables


// The yiq lightness value that determines when the lightness of color
// changes from "dark" to "light". Acceptable values are between 0 and 255.
$color-contrast-light: $white;
$color-contrast-dark: $black;
$min-contrast-ratio: 1.7;


// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

$spacer: 1rem;
$spacers: ();
$spacers: map-merge(
	(
      0: 0,
      1: $spacer * .25,
      2: $spacer * .5,
      3: $spacer,
      4: $spacer * 1.5,
      5: $spacer * 3
	),
	$spacers
);

// Body
//
// Settings for the `<body>` element.

$body-color:	             $gray-800;
$body-bg:		             $white;

$body-emphasis-color:       $black !default;

$body-secondary-color:      rgba($body-color, .75) !default; // $gray-500
$body-secondary-bg:         $gray-200 !default; //  #eef0f2

$body-tertiary-color:       rgba($body-color, .5) !default;
$body-tertiary-bg:          $gray-100 !default;

$emphasis-color:            $black !default;


// Links
//
// Style anchor elements.

$link-color:				$primary;
$link-decoration:			none;
$link-shade-percentage:		15%;
$link-hover-decoration:		none;



//== Components
//
//##

$border-width:			1px;
$border-widths: (
  0: 0,
  1: 1px,
  2: 2px,
  3: 3px,
  4: 4px,
  5: 5px
);
$border-style:                solid !default;
$border-color:                $gray-300 !default;
$border-color-translucent:    rgba($black, .075) !default;

// scss-docs-start border-radius-variables
$border-radius:      .375rem !default;
$border-radius-sm:   .25rem !default;
$border-radius-lg:   .5rem !default;
$border-radius-xl:   1rem !default;
$border-radius-xxl:  2rem !default;
$border-radius-pill: 50rem;
// scss-docs-end border-radius-variables

// scss-docs-start box-shadow-variables
$box-shadow:       0 .5rem 1rem rgba($black, .15);
$box-shadow-sm:    0 .125rem .25rem rgba($black, .075);
$box-shadow-lg:    0 1rem 3rem rgba($black, .175);
$box-shadow-inset: inset 0 1px 2px rgba($black, .075);
// scss-docs-end box-shadow-variables

$component-active-color: $white !default;
$component-active-bg:    shift-color($primary, -15%);


//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

// $font-size-root affects the value of `rem`, which is used for as well font sizes, paddings, and margins
// $font-size-base affects the font size of the body text
$font-size-base:	1rem;
$font-size-sm:		$font-size-base * .8462;
$font-size-lg:		$font-size-base * 1.15;

$font-weight-lighter:	100;
$font-weight-light:		300;
$font-weight-normal:    400;
$font-weight-bold:		500;
$font-weight-bolder:    700;

$font-weight-base:		$font-weight-normal;

$line-height-base:	1.618;
$line-height-sm:		1.309;
$line-height-lg:		1.927;

$h1-font-size:			$font-size-base * 2.5;
$h2-font-size:			$font-size-base * 2;
$h3-font-size:			$font-size-base * 1.77;
$h4-font-size:			$font-size-base * 1.38;
$h5-font-size:			$font-size-base * 1.15;
$h6-font-size:			$font-size-base * .94;
// scss-docs-end font-variables


// scss-docs-start headings-variables
$headings-margin-bottom:   map-get($spacers, 2);
$headings-font-family:     inherit;
$headings-font-weight:     500;
$headings-line-height:     1.1;
$headings-color:           inherit;
// scss-docs-end headings-variables


// scss-docs-start display-headings
$display-line-height:		$headings-line-height;
// scss-docs-end display-headings


// scss-docs-start type-variables
$lead-font-size:           $font-size-base * 1.15;
$lead-font-weight:			400;

$small-font-size:			.8462em;

$blockquote-margin-y:			$spacer;
$blockquote-font-size:			$font-size-base;
$blockquote-footer-color:		$gray-600;
$blockquote-footer-font-size:	$small-font-size;
// scss-docs-end type-variables


// Paragraphs
//
// Style p element.
$paragraph-margin-bottom: map-get($spacers, 3);


// Tables
//
//## Customizes the `.table` component with basic values, each used across all table variations.

// scss-docs-start table-variables
$table-cell-padding-y:			.5rem;
$table-cell-padding-x:			.768rem;
$table-cell-padding-y-sm:		.25rem;
$table-cell-padding-x-sm:		.385rem;

$table-cell-vertical-align:		middle;

$table-striped-bg-factor:		.04;
$table-active-bg-factor:		.1;
$table-hover-bg-factor:			.06;

$table-th-font-weight:        	$font-weight-bold;

$table-caption-color:			$gray-600;
$table-group-separator-color:	$gray-300;

$table-bg-scale:				-10%;
// scss-docs-end table-variables


//== Buttons
//
//##

// scss-docs-start input-btn-variables
$input-btn-focus-width:			0.15rem;

$input-btn-padding-x:			.769rem;
$input-btn-font-size:			$font-size-base;

$input-btn-padding-x-sm:		.615rem;
$input-btn-font-size-sm:		$font-size-sm;

$input-btn-padding-x-lg:		.923rem;
$input-btn-font-size-lg:		$font-size-lg;

$input-btn-border-width:		$border-width;
// scss-docs-end input-btn-variables


// Buttons
//
// For each of Bootstrap's buttons, define text, background, and border color.

// scss-docs-start btn-variables
$btn-padding-x:				$input-btn-padding-x;
$btn-font-size:				$input-btn-font-size;

$btn-padding-x-sm:			$input-btn-padding-x-sm;
$btn-font-size-sm:			$input-btn-font-size-sm;

$btn-padding-x-lg:			$input-btn-padding-x-lg;
$btn-font-size-lg:			$input-btn-font-size-lg;

$btn-border-width:			$input-btn-border-width;

$btn-font-weight:			500;
$btn-box-shadow:			0 .077rem 0 rgba(0, 0, 0, .05);
$btn-focus-width:			$input-btn-focus-width;

$btn-link-disabled-color:	$gray-600;
// scss-docs-end btn-variables


// Forms

// scss-docs-start form-check-variables
$form-check-input-width:       1.4em;
$form-check-margin-bottom:     map-get($spacers, 2);
// scss-docs-end form-check-variables

// scss-docs-start form-switch-variables
$form-switch-width:            2.4em;

$form-switch-color:            rgba($black, .25);
$form-switch-focus-color:      $form-switch-color;
$form-switch-checked-color:    $component-active-color;
// scss-docs-end form-switch-variables

// scss-docs-start form-range-variables
$form-range-thumb-bg:          $component-active-bg;
$form-range-thumb-active-bg:   tint-color($component-active-bg, 20%);
$form-range-thumb-disabled-bg: var(--#{$prefix}secondary-color);
// scss-docs-end form-range-variables


//== Cards
//
//##

$card-spacer-y:            map-get($spacers, 4);
$card-spacer-x:            map-get($spacers, 4);
$card-border-radius:       .231rem;
$card-box-shadow:          0px .077rem .154rem rgba(0, 0, 0, .1);
$card-inner-border-radius: calc(#{$card-border-radius} - #{$border-width});
$card-cap-bg:              rgba(var(--#{$prefix}body-color-rgb), .05);
$card-bg:                  var(--#{$prefix}body-bg);

$card-group-margin:			$card-spacer-y;

$card-cap-padding-y:       map-get($spacers, 3);
$card-cap-padding-x:       $card-spacer-x;

$card-border-width:        $border-width;
$card-border-color:        rgba($black, .05);


// Dropdowns
//
// Dropdown menu container and contents.

$dropdown-min-width:			   14.231rem;
$dropdown-padding-y:			   map-get($spacers, 4) - $spacer;
$dropdown-divider-margin-y:   map-get($spacers, 1);
$dropdown-box-shadow:         0px 0px 6px 0px rgba(0, 0, 0, .12);
$dropdown-item-padding-y:		map-get($spacers, 2);
$dropdown-item-padding-x:		map-get($spacers, 4);
$dropdown-header-padding:     $dropdown-padding-y $dropdown-item-padding-x;


// Progress bars

// scss-docs-start progress-variables
$progress-height:                   1rem;
$progress-font-size:                $font-size-base * .65;
$progress-border-radius:            $border-radius-sm;
$progress-box-shadow:               none;
// scss-docs-end progress-variables


// List group

// scss-docs-start list-group-variables
$list-group-border-radius:           var(--#{$prefix}border-radius-sm);

$list-group-item-padding-y:			$spacer * .75;
$list-group-item-padding-x:			$spacer;

$list-group-hover-bg:               var(--#{$prefix}tertiary-bg);

$list-group-disabled-color:			var(--#{$prefix}secondary-color);
$list-group-disabled-bg:				var(--#{$prefix}tertiary-bg);
// scss-docs-end list-group-variables


// Breadcrumbs

$breadcrumb-padding-y:			map-get($spacers, 1);
$breadcrumb-padding-x:			map-get($spacers, 1);
$breadcrumb-item-padding-x:	map-get($spacers, 2);
$breadcrumb-divider-color:		var(--#{$prefix}tertiary-color);
$breadcrumb-active-color:		var(--#{$prefix}secondary-color);
$breadcrumb-border-radius:		$border-radius-sm;


// Badges

$badge-font-size:     $small-font-size;
$badge-font-weight:   $font-weight-bolder;
$badge-padding-x:     $spacer - map-get($spacers, 1);
$badge-padding-y:     $badge-padding-x * .5;
$badge-border-radius: $border-radius-sm;


// Modals

$modal-inner-padding:       map-get($spacers, 4);
$modal-header-border-width: 0;
$modal-footer-border-width: 0;
$modal-md:                  600px;


// Image thumbnails

$thumbnail-padding:        map-get($spacers, 1);
$thumbnail-bg:             $body-bg;
$thumbnail-border-width:   $border-width;
$thumbnail-border-color:   $gray-300;
$thumbnail-border-radius:  $border-radius;
$thumbnail-box-shadow:     $box-shadow-sm;


// Figures

$figure-caption-font-size:	$small-font-size;
$figure-caption-color:		$gray-600;

// Pagination

$pagination-margin-start:	0;
$pagination-color:         var(--#{$prefix}body-color);


//== Code
//
//##

$code-font-size:				$small-font-size;

$kbd-color:						$white;
$kbd-bg:						$dark;

$pre-color:						$gray-900;


// Accordion

$accordion-padding-y:					$spacer;
$accordion-padding-x:					map-get($spacers, 1) + $spacer;
$accordion-color:						   var(--#{$prefix}body-color);
$accordion-bg:							   var(--#{$prefix}body-bg);
$accordion-border-width:            var(--#{$prefix}border-width) !default;
$accordion-border-color:            var(--#{$prefix}border-color) !default;
$accordion-border-radius:           var(--#{$prefix}border-radius) !default;

$accordion-body-padding-y:				map-get($spacers, 4);
$accordion-body-padding-x:				map-get($spacers, 4);

$accordion-button-padding-y:			$accordion-padding-y;
$accordion-button-padding-x:			$accordion-padding-x;
$accordion-button-color:				$accordion-color;
$accordion-button-bg:					$accordion-bg;
$accordion-button-active-bg:			$accordion-button-bg;
$accordion-button-active-color:		$primary;

$accordion-button-focus-border-color:	$accordion-border-color;
$accordion-button-focus-box-shadow:		none;

$accordion-icon-width:					1.25rem;
$accordion-icon-color:					$accordion-color;
$accordion-icon-active-color:			$accordion-button-active-color;
$accordion-icon-transition:			transform .2s ease-in-out;
$accordion-icon-transform:				rotate(180deg);


// Toasts

$toast-max-width:     360px;

$toast-padding-x:     1.077rem;
$toast-padding-y:     .5rem;
$toast-font-size:     .923rem;
$toast-color:         $body-color;
$toast-border-radius: $border-radius;
$toast-box-shadow:    0 .25rem .75rem rgba($black, .1);


// Popovers

$popover-font-size:        $font-size-base;
$popover-border-radius:    $border-radius-lg;
$popover-box-shadow:       0 .385rem .769rem rgba($black, .2);

$popover-header-padding-y: .6154rem;
$popover-header-padding-x: 1.077rem;

$popover-body-padding-y:   .6154rem;
$popover-body-padding-x:   1.077rem;

