/* Icons nav */

.sk-icons-nav {
	@media print {
		display: none;
	}
	
	.sk-top-header & {
		margin-right: map-get($spacers, 3);
	}
	
	@include media_size("tablet") {
		.sk-top-header & {
			margin-right: map-get($spacers, 2);
		}
	}

	> li.dropdown {
		position: static;

		> a {
			position: relative;
         
			.indicator {
				position: absolute;
				top: $top-header-nav-icon-padding;
				right: $top-header-nav-icon-padding;
				background-color: var(--#{$sk-variable-prefix}icon-indicator-color);
				border-radius: 50%;
				display: block;
				height: .375rem;
				width: .375rem;
			}
		}

		.dropdown-menu {
			position: fixed;
			top: $top-header-height;
			width: $icons-nav-dropdown-width;
			box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
			box-sizing: content-box;
		}
	}
	
	@include media_size("small-phone") {
		> li.dropdown {
			.dropdown-menu {
				left: 0;
				width: 100%;
				-webkit-box-shadow: none;
				box-shadow: none;
				border-width: 0;

				.sk-top-header & {
					border-radius: 0;
					margin-top: 1px;
				}

				.footer a {
					border-bottom: 1px solid var(--#{$prefix}border-color-translucent);
				}
			}
		}
	}
}
