/* notifications */

.be-notifications {
	padding: 0 !important;
	min-width: $icons-nav-dropdown-width;
   overflow: hidden !important;
	
	// Notification Container
	.skk-nc {
		padding: 0;
		margin: 0;
		display: flex;
		flex-direction: column;
	}
	
	// Notification Header
	.skk-nh {
		border-bottom: 1px solid darken($white, 7.7%);
		display: flex;
		flex-direction: row;
		align-items: center;
		flex: 0 0 auto;
	}
	
	// Notification Header Text
	.skk-nht {
		margin: 0;
		margin-left: 1rem;
		font-size: 1rem;
		font-weight: 400;
		line-height: 1.25rem;
		letter-spacing: normal;
		flex: 1;
		flex-basis: 1e-9px; // IE
	}
	
	// Notification Header Button Icon
	.skk-nhi {
		margin-right: .5rem;

		> a {
			color: darken($white, 47%);
			display: inline-block;
			padding: .5rem;
			line-height: 1.5rem;
			font-size: 1.5rem;
			font-weight: 500;
			height: 2.5rem;
			width: 2.5rem;
			text-align: center;
		}
	}
		
	.skk-nhi-close {
		display: none;
		margin-left: .5rem;
		margin-right: 0;
	}
	
	// Notification Body
	.skk-nb {
		max-height: calc(100vh - #{$top-header-height} - #{2.5rem + $content-padding});
		height: 400px;
		display: flex;
		flex-direction: column;
		flex: 1 1 auto;
		overflow-y: auto;
		overscroll-behavior: contain;
	}
	
	// Notification Body Empty
	.skk-nbe {
		justify-content: center;
	}
	
	.skk-nbe-icon {
		margin-bottom: 24px;
		display: flex;
		align-items: center;
		align-self: center;
		justify-content: center;
		vertical-align: middle;
		height: 7.5rem;
		min-width: 7.5rem;
		font-size: 7rem;
		color: darken($white, 20%);
	}

	.skk-nbe-msg {
		width: 100%;
		max-width: 280px;
		margin: 0 auto 1.5rem;
		text-align: center;
	}

	.skk-nbe-title {
		margin-bottom: .5rem;
		font-size: 1rem;
		font-weight: 500;
		line-height: 1.25rem;
		max-height: 2.5rem;
	}

	.skk-nbe-text {
		color: darken($white, 47%);
		font-size: .875rem;
		font-weight: 400;
		line-height: 1.3125rem;
		margin-top: .5rem;
	}
	
	// Notification List and Items
	ul.skk-nl {
		padding: 0;
		margin: 0;
		list-style: none;
		
		> li {
			list-style: none;
		}
	}
	
	.skk-nli {
		position: relative;
		padding: 1rem;
		padding-left: 0;
		display: flex;
		flex-direction: row;
		background-color: darken($white, 2%);

		&:hover {
			background-color: darken($white, 4%);
		}

		> a {
			color: lighten($dark, 1%);
			display: flex;
			flex: 1;
			flex-basis: 1e-9px; // IE
			flex-direction: row;
		}

		&-unread {
			background-color: $white;
			
			.skk-nli-new {
				background-color: $skk-app-theme;
			}
		}
	}

	.skk-nli-new {
		width: .25rem;
		height: .25rem;
		border-radius: 50%;
		margin: 1.375rem .375rem 0;
	}
	
	.skk-nli-img {
		height: 3rem;
		width: 3rem;
		margin-right: 1rem;
		flex: none;
		overflow: hidden;

		img {
			display: block;
			height: 100%;
			width: 100%;
			border-radius: 50%;
		}
	}
	
	.skk-nli-text {
		flex: 1;
		flex-basis: 1e-9px; // IE
		display: flex;
		flex-direction: column;
	}

	.skk-nli-msg {
		margin-bottom: .5rem;
		display: block;
		max-height: 12.6rem;
		overflow: hidden;
		font-size: .875rem;
		line-height: 1.3125rem;
		max-height: 8rem;
	}

	.skk-nli-metadata {
		color: lighten($dark, 37.5%);
		font-size: .8125rem;
		font-weight: 400;
		line-height: 1.125rem;
	}
	
	@include media_size("small-phone")
	{
		bottom: 0;
		
		.skk-nc {
			height: 100%;
		}
		
		.skk-nb {
			max-height: initial !important;
		}
		
		.skk-nhi-close {
			display: flex;
		}
	}
}
