/* user nav */
   
.sk-user-nav .dropdown-menu {
   --#{$prefix}dropdown-link-color:        var(--#{$prefix}body-color);
   --#{$prefix}dropdown-link-hover-color:  var(--#{$prefix}body-color);
   --#{$prefix}dropdown-link-hover-bg:     rgba(var(--#{$prefix}secondary-bg-rgb), .5);
   --#{$prefix}dropdown-link-active-color: var(--#{$prefix}body-color);
   --#{$prefix}dropdown-link-active-bg:    rgba(var(--#{$prefix}secondary-bg-rgb), 1);
}

.sk-user-nav {
	margin-right: 0;
	
	> .nav-item {
		> .nav-link {
			font-size: 0;
         padding: 0;

			img {
				width: $user-icon-size;
				height: $user-icon-size;
				border-radius: 50%;
			}

			.user-name {
				margin-left: 8px;
				display: none;
				font-size: 1.077rem;
				line-height: 20px;
				vertical-align: middle;
			}
		}

		.dropdown-menu {
			padding: 0 !important;
			width: $user-dropdown-width;
			min-width: $user-dropdown-width;
		}
	}
	
	// Header
	.sk-nvh {
		position: relative;
		margin: 1.25rem 2.0625rem;
		white-space: nowrap;
	}
	
	.sk-nvh-img {
		margin: 0 auto .625rem;
		position: relative;
		height: 5.375rem;
		width: 5.375rem;
		vertical-align: top;
		text-align: center;

		img {
			border: none;
			margin: 0 .1875rem;
			vertical-align: top;
			height: 5rem;
			width: 5rem;
			border-radius: 50%;
			overflow: hidden;
		}
	}
	
	.sk-nvh-info {
		display: block;
		vertical-align: top;
		text-align: center;
		
		> .btn {
			max-width: 254px;
			outline: 0;
			letter-spacing: .0156rem;
			margin: 1rem 0 0;
			text-overflow: ellipsis;
			overflow: hidden;
		}
	}
	
	.sk-nvh-name {
		letter-spacing: .29px;
		margin: 0;
		text-align: center;
		text-overflow: ellipsis;
		overflow: hidden;
		font-weight: 500;
		font-size: 1rem;
	}
	
	.sk-nvh-email {
		letter-spacing: normal;
		text-align: center;
		text-overflow: ellipsis;
		overflow: hidden;
		color: var(--#{$prefix}secondary-color);
		font-weight: 400;
		font-size: 0.875rem;
	}
	
	.sk-nva {
		line-height: normal;
		border-top: 1px solid var(--#{$prefix}border-color-translucent);
		padding: map-get($spacers, 1) 0;

		> a {
			display: flex;
			flex-direction: row;
			align-items: center;
         justify-content: space-between;
			height: 3.5rem;
			min-height: 3rem;
			white-space: initial;
			font-size: 1rem;
			font-weight: 400;
			line-height: 1.5rem;
			position: relative;
			padding: 0 2.0625rem;
		}
	}
	
	.sk-nva-icon {
		display: flex;
		flex-direction: row;
		align-items: center;
		width: 3.5rem;

		img {
			display: block;
			width: 2.5rem;
			height: 2.5rem;
			max-width: 100%;
			max-height: none;
			margin: 0;
			border-radius: 50%;
		}
	}
	
	.sk-nva-account {
		display: flex;
		flex-direction: column;
		min-height: 4.5rem;
		overflow: hidden;
		justify-content: center;
		flex-grow: 1;
	}
	
	.sk-nva-name {
		font-weight: 500;
	}
	
	.sk-nva-email {
		color: var(--#{$prefix}secondary-color);
		font-weight: 400;
	}
	
	.sk-nva-name,
	.sk-nva-email {
		font-size: .8125rem;
		line-height: 1.125rem;
		letter-spacing: normal;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
      
	.sk-nva-check {
		color: var(--#{$sk-variable-prefix}user-check-color);
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		text-align: center;
		vertical-align: middle;
		width: 1.5rem;
		height: 1.5rem;
		line-height: 1.5rem;
		font-size: 1.5rem;
		font-weight: 400;
	}
	
	.sk-nvl {
		padding: map-get($spacers, 1) 0;
		margin: 0;
		list-style: none;
		border-top: 1px solid var(--#{$prefix}border-color-translucent);
		
		> .sk-nvl-item {
			list-style: none;
			display: block;
			cursor: pointer;
			
			> a {
				display: flex;
				flex: 1;
				flex-basis: 1e-9px;
				flex-direction: row;
				align-items: center;
				text-decoration: none;
				padding: 0 1rem;
				white-space: nowrap;
				line-height: 1.5rem;
				height: 2.5rem;
				min-height: 40px;
				font-weight: 400;
			}
				
			.sk-nvli-icon,
			.sk-nvli-ricon {
				display: flex;
				flex-direction: row;
				align-items: center;
				
				> i {
					display: flex;
					align-items: center;
					justify-content: center;
					position: relative;
					vertical-align: middle;
					font-size: 1.5rem;
					line-height: 1.5rem;
					width: 1.5rem;
					height: 1.5rem;
				}
			}
			
			.sk-nvli-icon:first-child {
				margin-right: 1rem;
				flex: none;
			}
			
			.sk-nvli-icon:last-child {
				margin-left: .5rem;
			}
			
			.sk-nvli-label {
				display: block;
				text-overflow: ellipsis;
				overflow: hidden;
				white-space: nowrap;
				font-size: .875rem;
				line-height: 1.3125rem;
			}
			
			.sk-nvli-subtitle {
				display: flex;
				flex: 1;
				flex-basis: 1e-9px;
			}
		}
	}
	
	.sk-nv-btn {
		border-top: 1px solid var(--#{$prefix}border-color-translucent);
		border-bottom: 1px solid var(--#{$prefix}border-color-translucent);
		padding: 1rem 2.0625rem;
		text-align: center;
	}
	
	.sk-nvf {
		color: var(--#{$prefix}body-color);
		margin: .875rem 2.0625rem;
		text-align: center;
		white-space: normal;

		a {
			border-radius: .25rem;
			color: var(--#{$prefix}body-color);
			display: inline-block;
			font-weight: 400;
			font-size: .75rem;
			outline: 0;
			padding: .25rem .5rem;
			text-decoration: none;
			text-align: center;
			white-space: normal;

			&:hover {
				background-color: var(--#{$prefix}dropdown-link-hover-bg);
            text-decoration: underline;
			}
         
			&:hover:active {
				background-color: var(--#{$prefix}dropdown-link-active-bg);
			}
		}

		.seperator {
			text-align: center;
			white-space: normal;
			font-size: .75rem;
		}
	}
}
	
.sk-user-nav {
	@include media_size("small-phone") {
		> li.dropdown {
			&.show > a {
				&:before,
				&:after {
					display: none !important;
				}
			}
			
			.dropdown-menu {
				margin: 1px 0 0 0 !important;
				max-height: initial !important;
				left: 0;
				bottom: 0;
				right: 0;
				box-shadow: none;
				border-width: 0;
				border-radius: 0 !important;
				width: 100%;
			}
		}
	}
	
	@media print {
		display: none;
	}
}
