/* progress-widget */
.sidebar {
	.progress-widget {
		padding: map-get($spacers, 4);
		cursor: pointer;
      margin-top: 0;
		
		.progress-data {
			color: $sidebar-color;
		}

		.progress-value {
			float: right;
			
			.sidebar-collapsible-collapsed & {
				float: none;
				display: block;
				text-align: center;
				font-size: $font-size-sm;
			}
		}
		
		.name {
			.sidebar-collapsible-collapsed & {
				display: none;
			}
		}
		
		.progress {
         --#{$prefix}progress-bar-bg: #{$sidebar-progress-bg};
			margin: map-get($spacers, 2) 0 0;
			height: .615rem;
			border-radius: $border-radius-sm;
			
			.sidebar-collapsible-collapsed & {
				height: .385rem;
				margin-top: .538rem;
			}
		}

		&:hover {
			background-color: $sidebar-progress-hover-bg;
		}
	}
}
