/* progress-widget */
.be-left-sidebar {
	.progress-widget {
		padding: map-get($spacers, 4);
		cursor: pointer;
		
		.be-collapsible-sidebar-collapsed & {
			padding: 1rem 1.077rem;
			margin-top: map-get($spacers, 5);
		}
		
		.be-fixed-sidebar & {
			margin-top: 0;
		}
		
		.progress-data {
			color: force-hex($left-sidebar-color);
		}

		.progress-value {
			float: right;
			
			.be-collapsible-sidebar-collapsed & {
				float: none;
				display: block;
				text-align: center;
				font-size: $font-size-sm;
			}
		}
		
		.name {
			
			.be-collapsible-sidebar-collapsed & {
				display: none;
			}
		}
		
		.progress {
			margin: map-get($spacers, 2) 0 0;
			height: .615rem;
			background-color: darken($left-sidebar-bg, 4%);
			border-radius: $border-radius-sm;
			
			.be-collapsible-sidebar-collapsed & {
				height: .385rem;
				margin-top: .538rem;
			}
		}

		&:hover {
			background-color: darken($left-sidebar-bg, 2%);
		}

		@include media_size("phone") {
			display: none;
		}
	}
}
