<ul class="nav navbar-nav menu-end be-icons-nav">
	<li class="nav-item dropdown">
		<a class="nav-link d-none d-sm-block" id="lightmode" href="#" role="button">
			<span class="icon zmdi zmdi-sun"></span>
		</a>
   </li>

	<li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle d-none d-sm-block" href="#"
		   data-bs-toggle="dropdown"
		   role="button"
		   aria-expanded="false">
			<span class="icon zmdi zmdi-settings"></span>
		</a>
		<div class="dropdown-menu">
			<a class="dropdown-item" href="#">
				Action
				<span class="badge badge-success float-right">34</span>
			</a>
			<a class="dropdown-item" href="#">
				Another action
				<span class="badge badge-pill badge-info float-right">16</span>
			</a>
			<a class="dropdown-item disabled" href="#">Something else here</a>
			<div class="dropdown-divider"></div>
			<h6 class="dropdown-header">Dropdown header</h6>
			<a class="dropdown-item active" href="#">
				<i class="icon zmdi zmdi-help"></i> With icon
			</a>
			<a class="dropdown-item" href="#">
				<i class="icon zmdi zmdi-settings"></i> Last action
			</a>
			<div class="dropdown-tools">
				<div class="btn-group mt-1 mb-2">
					<button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#mod-warning" type="button">
						<span class="zmdi zmdi-power"></span>
					</button>
					<button class="btn btn-secondary active" data-bs-toggle="modal" data-bs-target="#mod-warning" type="button">
						<span class="zmdi zmdi-wrench"></span>
					</button>
				</div>
			</div>
		</div>
	</li>

	<li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle d-none d-sm-block"
		   href="#"
		   data-bs-toggle="dropdown"
		   role="button"
		   aria-expanded="false">
			<span class="icon zmdi zmdi-apps"></span>
		</a>
		<div class="dropdown-menu be-apps">
			<div class="skk-anc">
				<ul class="skk-ang">
					<li class="skk-ani">
						<a href="#">
							<img src="https://via.placeholder.com/128/fe669e/fff.png" class="rounded-circle" alt="Avatar" />
							<span>Account</span>
						</a>
					</li>
					<li class="skk-ani">
						<a href="#">
							<i class="icon zmdi zmdi-settings"></i>
							<span>Settings</span>
						</a>
					</li>
					<li class="skk-ani">
						<a href="#">
							<i class="icon zmdi zmdi-youtube" style="color:#ea4335;"></i>
							<span>YouTube</span>
						</a>
					</li>
					<li class="skk-ani">
						<a href="#">
							<i class="icon zmdi zmdi-codepen" style="color:#333;"></i>
							<span>CodePen</span>
						</a>
					</li>
					<li class="skk-ani">
						<a href="#">
							<i class="icon zmdi zmdi-dropbox" style="color:#007EE5;"></i>
							<span>CodePen</span>
						</a>
					</li>
				</ul>
				<div class="skk-ans"></div>
				<ul class="skk-ang">
					<li class="skk-ani">
						<a href="#">
							<i class="icon zmdi zmdi-stackoverflow" style="color:#ef8236;"></i>
							<span>StackOverflow</span>
						</a>
					</li>
					<li class="skk-ani">
						<a href="#">
							<i class="icon zmdi zmdi-windows" style="color:#50bff5;"></i>
							<span>Windows</span>
						</a>
					</li>
					<li class="skk-ani">
						<a href="#">
							<i class="icon zmdi zmdi-twitch" style="color:#6441a5;"></i>
							<span>Twitch</span>
						</a>
					</li>
				</ul>
				<div class="skk-anb">
					<a href="#" class="btn btn-outline-info">More from KonKon</a>
				</div>
			</div>
		</div>
	</li>

	<li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle d-none d-sm-block"
		   href="#"
		   id="user_n_messages_bell"
		   data-bs-toggle="dropdown"
		   data-bs-auto-close="outside"
		   role="button"
		   aria-expanded="false">
			<span class="icon zmdi zmdi-notifications-none"></span>
		</a>
		<div class="dropdown-menu be-notifications">
			<div class="skk-nc">
				<div class="skk-nh">
					<div class="skk-nhi skk-nhi-close">
						<a href="#">
							<i class="zmdi zmdi-close"></i>
						</a>
					</div>
					<h2 class="skk-nht">Notifications</h2>
					<div class="skk-nhi">
						<a href="#">
							<i class="zmdi zmdi-settings"></i>
						</a>
					</div>
				</div>
				<div class="skk-nb skk-nbe">
					<!-- If there are no notifications available //-->
					<div class="skk-nbe-icon">
						<i class="zmdi zmdi-notifications"></i>
					</div>
					<div class="skk-nbe-msg">
						<div class="skk-nbe-title">Your notifications live here</div>
						<div class="skk-nbe-text">Follow accounts to get notified about their latest content.</div>
					</div>
				</div>
			</div>
		</div>
	</li>

	<li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle d-none d-sm-block"
		   href="#"
		   id="user_n_messages_bell"
		   data-bs-toggle="dropdown"
		   data-bs-auto-close="outside"
		   role="button"
		   aria-expanded="false">
			<span class="icon zmdi zmdi-notifications"></span>
			<span class="indicator"></span>
		</a>
		<div class="dropdown-menu be-notifications">
			<div class="skk-nc">
				<div class="skk-nh">
					<div class="skk-nhi skk-nhi-close">
						<a href="#">
							<i class="zmdi zmdi-close"></i>
						</a>
					</div>
					<h2 class="skk-nht">Notifications</h2>
					<div class="skk-nhi">
						<a href="#"><i class="zmdi zmdi-settings"></i></a>
					</div>
				</div>
				<ul class="skk-nb skk-nl">
					<!-- If there are notifications available //-->
					<li class="skk-nli skk-nli-unread">
						<a href="#">
							<div class="skk-nli-new"></div>
							<div class="skk-nli-img">
								<img src="/images/avatar-256.png"
									 alt="Avatar" />
							</div>
							<div class="skk-nli-text">
								<div class="skk-nli-msg"><b>Studio KonKon</b> commented: "Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."</div>
								<div class="skk-nli-metadata">3 days ago</div>
							</div>
						</a>
					</li>
					<li class="skk-nli skk-nli-unread">
						<a href="#">
							<div class="skk-nli-new"></div>
							<div class="skk-nli-img">
								<img src="/images/users/user-image-1.png"
									 alt="Avatar" />
							</div>
							<div class="skk-nli-text">
								<div class="skk-nli-msg"><b>Omnis Iste</b> commented: "Magni dolores eos qui."</div>
								<div class="skk-nli-metadata">5 days ago</div>
							</div>
						</a>
					</li>
					<li class="skk-nli">
						<a href="#">
							<div class="skk-nli-new"></div>
							<div class="skk-nli-img">
								<img src="/images/users/user-image-2.png"
									 alt="Avatar" />
							</div>
							<div class="skk-nli-text">
								<div class="skk-nli-msg"><b>Mario Santoria</b> commented: "Nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?"</div>
								<div class="skk-nli-metadata">8 days ago</div>
							</div>
						</a>
					</li>
					<li class="skk-nli">
						<a href="#">
							<div class="skk-nli-new"></div>
							<div class="skk-nli-img">
								<img src="/images/users/user-image-3.png"
									 alt="Avatar" />
							</div>
							<div class="skk-nli-text">
								<div class="skk-nli-msg"><b>Serena Chaku</b> commented: "Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur."</div>
								<div class="skk-nli-metadata">14 days ago</div>
							</div>
						</a>
					</li>
					<li class="skk-nli">
						<a href="#">
							<div class="skk-nli-new"></div>
							<div class="skk-nli-img">
								<img src="/images/avatar-256.png"
									 alt="Avatar" />
							</div>
							<div class="skk-nli-text">
								<div class="skk-nli-msg"><b>Shinobu KonKon</b> commented: "Qui in ea voluptate velit esse ka?"</div>
								<div class="skk-nli-metadata">20 days ago</div>
							</div>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</li>
</ul>
