<div class="be-left-sidebar" id="left_sidebar">
	<div class="left-sidebar-wrapper">
		<a class="left-sidebar-toggle" href="#">Studio KonKon</a>
		<div class="left-sidebar-spacer">
			<div class="left-sidebar-scroll">
				<div class="left-sidebar-content">
					
					<ul class="sidebar-elements">
						<li class="divider">Studio KonKon: Theme 2020</li>
						<li>
							<a href="#"><i class="icon zmdi zmdi-home"></i><span class="text">Home</span></a>
						</li>
						<li class="divider">Theme Documents</li>
						<li>
							<a href="#home"><i class="icon zmdi zmdi-view-dashboard"></i><span class="text">Dashboard</span></a>
						</li>
						<li class="parent">
							<a href="#"><i class="icon zmdi zmdi-layers"></i><span class="text">Content</span></a>
							<ul class="sub-menu">
								<li><a href="#"><span class="text">Code</span></a></li>
								<li><a href="#"><span class="text">Images</span></a></li>
								<li><a href="#"><span class="text">Typography</span></a></li>
								<li><a href="#"><span class="text">Grid</span></a></li>
							</ul>
						</li>
						<li class="divider">Help &amp; Support</li>
						<li>
							<a href="#"><i class="icon zmdi zmdi-settings"></i><span class="text">Settings</span></a>
						</li>
						<li>
							<a href="#"><i class="icon zmdi zmdi-info"></i><span class="text">About</span></a>
						</li>
					</ul>
					
				</div>
			</div>
		</div>
		<div class="progress-widget" id="user_progress">
			<div class="progress-data"><span class="progress-value">0%</span><span class="name">Current Progress</span></div>
			<div class="progress">
				<div class="progress-bar" style="width:0%;"></div>
			</div>
		</div>
	</div>
</div>
