{{- $sidebar_type := .Page.Params.sidebar_type | default "" -}}
<div class="sidebar" id="left-sidebar"{{ with $sidebar_type }} data-sk-type="{{ . }}"{{ end }}>
	<div class="sidebar-wrapper">
		<div class="sidebar-spacer">
			<div class="sidebar-scroll">
				<div class="sidebar-content">
					
					<ul class="sidebar-elements">
						<li class="divider pt-1">Studio KonKon: Theme 2020</li>
						<li>
							<a href="#">
                        <i class="icon zmdi zmdi-home"></i>
                        <span class="text">Home</span>
                     </a>
						</li>
						<li class="divider"></li>
						<li>
							<a href="/app/">
                        <i class="icon zmdi zmdi-view-dashboard"></i>
                        <span class="text">App Dashboard</span>
                     </a>
						</li>
						<li>
							<a href="/bootstrap-examples/">
                        <i class="icon zmdi zmdi-view-web"></i>
                        <span class="text">Bootstrap Examples</span>
                     </a>
						</li>
						<li>
							<a href="/docs/">
                        <i class="icon zmdi zmdi-file-text"></i>
                        <span class="text">Documentation</span>
                     </a>
						</li>
						<li>
							<a href="/playground/">
                        <i class="icon zmdi zmdi-code"></i>
                        <span class="text">Playground</span>
                        <span class="badge bg-konkon text-white">BETA</span>
                     </a>
						</li>
						<li class="divider">Menu Testing</li>
						<li class="parent">
							<a href="#">
								<i class="icon zmdi zmdi-layers"></i>
                        <span class="text">Content</span>
							</a>
							<ul class="sub-menu">
								<li><a href="#"><span class="text">Code</span></a></li>
								<li><a href="#"><span class="text">Images</span></a></li>
								<li><a href="#"><span class="text">Typography</span></a></li>
								<li><a href="#"><span class="text">Grid</span></a></li>
							</ul>
						</li>
						<li class="parent">
							<a href="#">
								<i class="icon zmdi zmdi-folder"></i>
								<span class="text">Sub Menu</span>
							</a>
<ul class="sub-menu">
	<li class="parent level-a1">
		<a href="#"><span class="text">Level 1</span></a>
		<ul class="sub-menu">
			<li><a href="#"><span class="text">Level 2</span></a></li>
			<li class="parent level-a2">
				<a href="#"><span class="text">Level 2</span></a>
				<ul class="sub-menu">
					<li><a href="#"><span class="text">Level 3</span></a></li>
					<li class="parent level-a3">
						<a href="#"><span class="text">Level 3</span></a>
						<ul class="sub-menu">
							<li><a href="#"><span class="text">Level 4</span></a></li>
							<li><a href="#"><span class="text">Level 4</span></a></li>
						</ul>
					</li>
				</ul>
			</li>
		</ul>
	</li>
	<li class="parent level-b1">
		<a href="#"><span class="text">Level 1</span></a>
		<ul class="sub-menu">
			<li><a href="#"><span class="text">Level 2</span></a></li>
			<li class="parent level-b2">
				<a href="#"><span class="text">Level 2</span></a>
				<ul class="sub-menu">
					<li><a href="#"><span class="text">Level 3</span></a></li>
					<li class="parent level-b3">
						<a href="#"><span class="text">Level 3</span></a>
						<ul class="sub-menu">
							<li><a href="#"><span class="text">Level 4</span></a></li>
							<li><a href="#"><span class="text">Level 4</span></a></li>
						</ul>
					</li>
				</ul>
			</li>
		</ul>
	</li>
</ul>
						</li>
						<li class="divider">Help &amp; Support</li>
						<li>
							<a href="#">
                        <i class="icon zmdi zmdi-settings"></i>
                        <span class="text">Settings</span>
                     </a>
						</li>
						<li>
							<a href="#">
                        <i class="icon zmdi zmdi-info"></i>
                        <span class="text">About</span>
                     </a>
						</li>
					</ul>
					
				</div>
			</div>
		</div>
		<div class="progress-widget" id="user_progress">
			<div class="progress-data">
            <span class="progress-value">0%</span>
            <span class="name">Current Progress</span>
         </div>
			<div class="progress">
				<div class="progress-bar" style="width:0%;"></div>
			</div>
		</div>
	</div>
</div>
