<nav class="navbar navbar-expand fixed-top be-top-header">
	<div class="container-fluid">
	
		<!-- Menu and Logo Area //-->
		<div class="be-navbar-header">
			<a class="nav-link be-toggle-left-sidebar"
			   href="#"
			   id="sidebar_btn"><span class="icon zmdi zmdi-menu"></span></a>
			<a class="navbar-brand" href="/app"></a>
		</div>
	
		<!-- Page Title //-->
		<div class="page-title"><span>App Studio KonKon</span></div>
	
		<!-- Navbars //-->
		<div class="be-right-navbar">
{{ partial "app/icons-nav" . -}}
{{ partial "app/user-nav" . -}}
		</div>
		
	</div>
</nav>
