<nav class="navbar navbar-expand fixed-top sk-top-header">
	<div class="container-fluid">
	
		<!-- Menu and Logo Area //-->
		<div class="sk-navbar-header">
			<a class="nav-link sidebar-toggle"
			   href="#"
			   id="sidebar-toggle"
            data-bs-toggle="sidebar"
            data-bs-target="#left-sidebar">
            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48"><path d="M5.5 36.8v-3.95h37v3.95Zm0-10.8v-4h37v4Zm0-10.85V11.2h37v3.95Z" fill="currentColor" /></svg>
         </a>
			<a class="navbar-brand" href="/"></a>
		</div>
	
		<!-- Page Title //-->
      <div class="page-title"><span class="page-title-content">{{ $.Page.Title | markdownify }}</span></div>
	
		<!-- Navbars //-->
		<div class="sk-right-navbar">
{{ partial "app/icons-nav" . -}}
{{ partial "app/user-nav" . -}}
		</div>
		
	</div>
</nav>
