<ul class="nav navbar-nav menu-end sk-user-nav sk-navbar-menus">
	<li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle" href="#"
		   data-bs-toggle="dropdown"
		   data-bs-auto-close="outside"
		   role="button"
		   aria-expanded="false">
			<img id="user_image" src="/images/avatar-256.png" alt="Avatar" />
			<span class="user-name">Studio KonKon</span>
		</a>
		<div class="dropdown-menu" role="menu">
			<div class="sk-nvh">
				<div class="sk-nvh-img">
				   <img src="/images/avatar-256.png"
						alt="Avatar" />
				</div>
				<div class="sk-nvh-info">
				   <div class="sk-nvh-name">Studio KonKon</div>
				   <div class="sk-nvh-email">username@example.com</div>
				   <a class="btn btn-rounded btn-secondary" href="#">Manage Your Account</a>
				</div>
			</div>
			<div class="sk-nva">
				<a class="dropdown-item" href="#">
					<div class="sk-nva-icon">
					   <img src="/images/avatar-256.png"
							alt="Avatar" />
					</div>
				   <div class="sk-nva-account">
					  <div class="sk-nva-name">Studio KonKon</div>
					  <div class="sk-nva-email">username@example.com</div>
				   </div>
				   <div class="sk-nva-check">
					  <i class="zmdi zmdi-check"></i>
				   </div>
				</a>
				<a class="dropdown-item" href="#">
					<div class="sk-nva-icon">
					   <img src="/images/avatar-256.png"
							alt="Avatar" />
					</div>
				   <div class="sk-nva-account">
					  <div class="sk-nva-name">Shinobu KonKon</div>
					  <div class="sk-nva-email">username@example.com</div>
				   </div>
				</a>
				<a class="dropdown-item" href="#">
					<div class="sk-nva-icon">
					   <img src="/images/users/user-image-1.png"
							alt="Avatar" />
					</div>
				   <div class="sk-nva-account">
					  <div class="sk-nva-name">Mario Santoria</div>
					  <div class="sk-nva-email">username@example.com</div>
				   </div>
				</a>
				<a class="dropdown-item" href="#">
					<div class="sk-nva-icon">
					   <img src="/images/users/user-image-2.png"
							alt="Avatar" />
					</div>
				   <div class="sk-nva-account">
					  <div class="sk-nva-name">Serena Chaku</div>
					  <div class="sk-nva-email">username@example.com</div>
				   </div>
				</a>
			</div>
			<ul class="sk-nvl">
				<li class="sk-nvl-item">
					<a class="dropdown-item" href="#">
						<div class="sk-nvli-icon"><i class="zmdi zmdi-accounts-add"></i></div>
						<div class="sk-nvli-label">Add another account</div>
					</a>
				</li>
				<li class="sk-nvl-item">
					<a class="dropdown-item" href="#">
						<div class="sk-nvli-icon"><i class="zmdi zmdi-translate"></i></div>
						<div class="sk-nvli-label">Language: English</div>
						<div class="sk-nvli-subtitle"></div>
						<div class="sk-nvli-icon"><i class="zmdi zmdi-chevron-right"></i></div>
					</a>
				</li>
				<li class="sk-nvl-item">
					<a class="dropdown-item disabled" href="#">
						<div class="sk-nvli-icon"><i class="zmdi zmdi-globe-alt"></i></div>
						<div class="sk-nvli-label">Location: United Kingdom</div>
						<div class="sk-nvli-subtitle"></div>
						<div class="sk-nvli-icon"><i class="zmdi zmdi-chevron-right"></i></div>
					</a>
				</li>
			</ul>
			<div class="sk-nv-btn">
				<a class="btn btn-secondary" href="#">Sign out of all accounts</a>
			</div>
			<div class="sk-nvf">
				<a href="#">Privacy Policy</a>
				<span class="seperator">•</span>
				<a href="#">Terms of Service</a>
			</div>
		</div>
	</li>
</ul>
					