// alerts

@mixin icon-alert-variation(
	$state,
	$color: shift-color($state, $alert-color-scale),
	$background: shift-color($state, $alert-border-scale)
) {
	> .icon {
		color: $color;
		background-color: $background;
	}
}

@mixin alert-icon-full(
	$state,
	$color: color-contrast($state),
	$background: shift-color($state, $alert-icon-scale)
) {	
	> .icon {
		color: $color;
		background-color: $background;
	}
}

