// Badges

// Colored Badges Mixin
@mixin badge-variant($parent, $background, $border: transparent, $color: color-contrast($background)) {
	.badge-#{$parent} {
		color: $color;
		background-color: $background;
		border-color: $border;
	}

	a.badge-#{$parent} {
		&:hover,
		&:focus {
			color: $color;
			background-color: darken($background, 10%);
		}
	}

	.btn-#{$parent} .badge {
		color: $background;
		background-color: $color;
	}
}

@mixin badge-outline-color($parent, $color, $bg-color: color-contrast($color)) {
	.badge-outline-#{$parent} {
		color: $color;
		border-color: $color;
	}
		
	a.badge-outline-#{$parent} {
		&:hover,
		&:focus {
			color: $bg-color;
			background-color: $color;
		}
	}
	
	.btn-outline-#{$parent} {
		.badge {
			color: $bg-color;
			background-color: $color;
			border-color: $color;
		}
			
		&:hover,
		&:focus {
			.badge {
				color: $color;
				background-color: $bg-color;
			}
		}
	}
}
