@mixin switch-variant(
	$active-color,
	$focus-color: rgba($active-color, $input-btn-focus-color-opacity),
	$box-shadow: 0 0 0 $input-btn-focus-width $focus-color
) {
	.form-check-input {
		&:checked {
			background-color: $active-color;
			border-color: $active-color;
		}
	
		&:focus {
			border-color: shift-color($active-color, -50%);
			box-shadow: $box-shadow;
		}
	}
}


@mixin switch-button-color(
	$active-color,
	$off-color: shift-color($active-color, -80%),
	$color: color-contrast($active-color)
) {
	.form-check-input {
		&:checked {
			background-color: $active-color;
			border-color: $active-color;
	
			& + .form-check-label {
				background-color: $active-color;

				.form-switch-label {
					border-color: $color;
					background-color: $color;

					&:before {
						color: $color;
					}
				}
			}

			&:focus + .form-check-label {
				.form-switch-label:before {
					box-shadow: 0 0 0 0.15rem rgba($active-color, 0.5);
				}
			}
		}
	}

	.form-switch-label {
		border-color: $off-color;
	}
}
