//Colored header modal
@mixin colored-header($color) {
	color: color-contrast($color);
	background-color: $color;
}

//Full colored modal
@mixin modal-full-color($background, $color: color-contrast($background)) {
	.modal-content,
	.modal-header,
	.modal-body,
	.modal-footer {
		color: $color;
		background-color: $background;
	}
	
	.btn-light {
		color: $background;
	}
}
