// Card Full Colours
@if $enable-card-full-colors {
	@each $state, $value in $theme-colors {
		$card-background: shift-color($value, $card-bg-scale);
		$card-border: shift-color($value, $card-border-scale);
		$card-color: shift-color($value, $card-color-scale);
		
		@if(contrast-ratio($card-background, $card-color) < $min-contrast-ratio) {
			$card-color: mix($value, color-contrast($card-background), abs($card-color-scale));
		}
  
		.card-full-#{$state} {
			@include card-full-color($card-background, $card-border, $card-color);
		}
	}
}
