// Forms
.input-file {
	display: none !important;
	
	&-label {
		max-width: 100%;
		text-align: left;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
}

.form-check-icon {
	padding: 0;
	margin: 0;
	
	.form-check-label {
		cursor: pointer;
		width: $radio-icon-width;
		height: $radio-icon-height;
		line-height: $radio-icon-height;
		font-size: $radio-icon-font-size;
		border: $radio-icon-border;
		border-radius: 50%;
		text-align: center;
		color: $radio-icon-color;
		
		&:hover
		{
			border-color: $radio-icon-hover-border-color;
		}
	}
	
	.form-check-input {
		width: 1px;
		height: 1px;
		margin: 0;
		padding: 0;
		position: absolute;
		z-index: -1;
		opacity: 0;
		
		&:checked
		{
			+ .form-check-label
			{
				border-color: $radio-icon-active-color;
				color: $radio-icon-active-color;
				background-color: $radio-icon-active-bg;
			}
		}
			
		&:focus
		{
			+ .form-check-label
			{
				box-shadow: $radio-icon-focus-shadow-color;
			}
		}
	}
}
