// Icon buttons

%base-svg-icon {
   display: inline-flex !important;
   align-items: center;
   justify-content: center;
   flex-shrink: 0;
   width: var(--#{$sk-variable-prefix}icon-size);
   height: var(--#{$sk-variable-prefix}icon-size);
   fill: currentcolor;
}

%base-icon-btn {
   display: inline-flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   width: var(--#{$sk-variable-prefix}icon-btn-size);
   height: var(--#{$sk-variable-prefix}icon-btn-size);
   font-size: var(--#{$sk-variable-prefix}icon-btn-size);
   line-height: 1;
   padding: var(--#{$sk-variable-prefix}icon-btn-padding);
   box-sizing: content-box;
   aspect-ratio: 1 / 1;
   
   svg, img {
      @extend %base-svg-icon;
   }
}

.svg-icon {
   @extend %base-svg-icon;
}

.ski {
   @extend %base-svg-icon;
   
   &::before {
      font-size: var(--#{$sk-variable-prefix}icon-size);
   }
}

.icon-btn-base {
   @extend %base-icon-btn;
}

.icon-btn {
   @extend %base-icon-btn;
   color: var(--#{$sk-variable-prefix}icon-btn-color);
   background-color: transparent;
   border-radius: 50%;
   border: 0;
   outline: solid 1px transparent;
   
   &:hover {
      color: var(--#{$sk-variable-prefix}icon-btn-hover-color);
      background-color: rgba($black, $icon-btn-hover-bg-scale);
      
      // only if `color-mix` is supported
      background-color: color-mix(
         in srgb,
         var(--#{$sk-variable-prefix}icon-btn-hover-bg) ($icon-btn-hover-bg-scale * 100%),
         transparent
      );
   }
   
   &:hover:active {
      color: var(--#{$sk-variable-prefix}icon-btn-active-color);
      background-color: rgba($black, $icon-btn-active-bg-scale);
      outline-color: rgba($black, $icon-btn-outline-scale);
      
      // only if `color-mix` is supported
      background-color: color-mix(
         in srgb,
         var(--#{$sk-variable-prefix}icon-btn-active-bg) ($icon-btn-active-bg-scale * 100%),
         transparent
      );
      outline-color: color-mix(
         in srgb,
         var(--#{$sk-variable-prefix}icon-btn-active-bg) ($icon-btn-outline-scale * 100%),
         transparent
      );
   }
}
