// Icon buttons

.svg-icon {
   width: 1em;
   height: 1em;
   fill: currentcolor;
}

.icon-btn {
   color: inherit !important;
   display: inline-flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   width: var(--#{$sk-variable-prefix}icon-btn-size);
   height: var(--#{$sk-variable-prefix}icon-btn-size);
   font-size: var(--#{$sk-variable-prefix}icon-btn-size);
   line-height: 1;
   background-color: transparent;
   padding: var(--#{$sk-variable-prefix}icon-btn-padding);
   border-radius: 50%;
   border: 0;
   outline: solid 1px transparent;
   box-sizing: content-box;
   aspect-ratio: 1 / 1;
   
   svg, img {
      @extend .svg-icon !optional;
   }
   
   &:hover {
      background-color: rgba($black, $icon-btn-hover-bg-scale);
      
      // only if `color-mix` is supported
      background-color: color-mix(
         in srgb,
         var(--#{$sk-variable-prefix}icon-btn-hover-bg) ($icon-btn-hover-bg-scale * 100%),
         transparent
      );
   }
   
   &:hover:active {
      background-color: rgba($black, $icon-btn-active-bg-scale);
      outline-color: rgba($black, $icon-btn-outline-scale);
      
      // only if `color-mix` is supported
      background-color: color-mix(
         in srgb,
         var(--#{$sk-variable-prefix}icon-btn-active-bg) ($icon-btn-active-bg-scale * 100%),
         transparent
      );
      outline-color: color-mix(
         in srgb,
         var(--#{$sk-variable-prefix}icon-btn-active-bg) ($icon-btn-outline-scale * 100%),
         transparent
      );
   }
}
