@if $enable-modal-full-colors {
	.modal-full-color {
		.btn-light {
			background-color: $white;
			border-color: rgba($white, 0.5);
			border-width: $border-radius-sm;
			
			&:focus
			{
				box-shadow: none;
				background-color: $white;
				border-color: rgba($white, 0.4);
			}

			.hover,
			&:hover
			{
				box-shadow: none;
				background-color: rgba($white, 0.8);
				border-color: rgba($white, 0.8);
			}
			
			&.active,
			&:active,
			&:not([disabled]):not(.disabled).active,
			&:not([disabled]):not(.disabled):active
			{
				box-shadow: none;
				background-color: rgba($white, 0.8);
				border-color: rgba($white, 0.8);
			}
		}
		
		.btn-secondary
		{
			color: $white !important;
			background-color: transparent;
			border-color: rgba($white, 0.5);
			
			&:focus
			{
				box-shadow: none;
				background-color: transparent;
				border-color: rgba($white, 0.4);
			}

			.hover,
			&:hover
			{
				box-shadow: none;
				background-color: rgba($white, 0.1);
				border-color: rgba($white, 0.8);
			}
			
			&.active,
			&:active,
			&:not([disabled]):not(.disabled).active,
			&:not([disabled]):not(.disabled):active
			{
				box-shadow: none;
				background-color: rgba($white, 0.1);
				border-color: rgba($white, 0.8);
			}
		}
	}

	@each $modal-colors, $modal-color in $modal-colors {
		.modal-#{$modal-colors} {
			@include modal-full-color($modal-color);
		}
	}
}