// Switch button
.form-switch-onoff {
   --#{$sk-variable-prefix}form-switch-on: "ON";
   --#{$sk-variable-prefix}form-switch-off: "OFF";
   --#{$sk-variable-prefix}form-switch-bg: #{$switch-bg};
   --#{$sk-variable-prefix}form-switch-color: #{$switch-color};
   --#{$sk-variable-prefix}form-switch-shadow-color: #{$switch-shadow-color};
   --#{$sk-variable-prefix}form-switch-checked-bg: #{$switch-checked-bg};
   --#{$sk-variable-prefix}form-switch-checked-color: #{$switch-checked-color};
   --#{$sk-variable-prefix}form-switch-checked-shadow-color: #{$switch-checked-shadow-color};
   
   display: inline-block;
   border-radius: $switch-border-radius;
   min-height: 0;
   padding: 0;
   position: relative;
   
   .form-switch-label {
      display: none;
   }
	
	.form-check-label {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: map-get($spacers, 1);
      min-width: $switch-width;
		background-color: var(--#{$sk-variable-prefix}form-switch-bg);
      outline: $switch-border;
      border-radius: $switch-border-radius;
      padding: $switch-padding;
      line-height: $switch-line-height;
      cursor: pointer;
      
      &::before {
         order: 1;
			content: "";
         border-radius: 50%;
         background-color: var(--#{$sk-variable-prefix}form-switch-color);
         margin: 0;
         height: $switch-label-width;
         width: $switch-label-width;
         flex: 0 0 $switch-label-width;
         z-index: 1;
         cursor: pointer;
         background-clip: padding-box;
      }
      
		&::after {
         order: 2;
         content: var(--#{$sk-variable-prefix}form-switch-off);
			font-size: .8462rem;
			font-weight: 600;
			z-index: 0;
			color: var(--#{$sk-variable-prefix}form-switch-color);
         margin-right: map-get($spacers, 2);
		}
	}
  
	.form-check-input {	
		width: 1px;
		height: 1px;
		margin: 0;
		padding: 0;
		position: absolute;
		z-index: -1;
		opacity: 0;
      
		&:checked + .form-check-label {
			background-color: var(--#{$sk-variable-prefix}form-switch-checked-bg);
			
			&::before {
            order: 2;
            background-color: var(--#{$sk-variable-prefix}form-switch-checked-color);
			}
				
         &::after {
            order: 1;
            color: var(--#{$sk-variable-prefix}form-switch-checked-color);
            margin-left: map-get($spacers, 2);
         }
		}
		
		&:focus + .form-check-label {
         box-shadow: 0 0 0 $switch-focus-width var(--#{$sk-variable-prefix}form-switch-shadow-color);
		}
		
		&:checked:focus + .form-check-label {
         box-shadow: 0 0 0 $switch-focus-width var(--#{$sk-variable-prefix}form-switch-checked-shadow-color);
		}
	
      &:checked + .form-check-label::after {
         content: var(--#{$sk-variable-prefix}form-switch-on);
      }
	}
}

@each $color, $value in $theme-colors {
   $color-rgb: to-rgb(color-contrast($value));
   $bg-rgb: to-rgb($value);
   $switch-color: RGBA($color-rgb, 1);
   $switch-bg: RGBA(#{$bg-rgb}, 1);
   $switch-shadow: RGBA(#{$bg-rgb}, $switch-focus-color-opacity);
   
   .form-switch-#{$color} {
      --#{$sk-variable-prefix}form-switch-checked-bg: #{$switch-bg};
      --#{$sk-variable-prefix}form-switch-checked-color: #{$switch-color};
      --#{$sk-variable-prefix}form-switch-checked-shadow-color: #{$switch-shadow};
   }
}
