/*------------------------------------------------------------------
	[Left sidebar]
*/
.sidebar {
	background-color: $sidebar-bg;
   height: 100%;
	width: $sidebar-width;
	position: fixed;
   top: 0;
   bottom: 0;
	left: 0;
	border-right: 1px solid $sidebar-border-color;
   margin-top: var(--#{$sk-variable-prefix}header-height);
   padding-bottom: var(--#{$sk-variable-prefix}header-height);
   z-index: $zindex-navbar-fixed - 3;
	
	@media print {
		display: none;
	}
   
   &.open {
		left: 0 !important;
	}
}
	
.sidebar-wrapper {
   display: flex;
   flex-direction: column;
   width: 100%;
   height: 100%;
}

.sidebar-spacer {
   height: 100%;
}

.sidebar-scroll {
   position: relative;
   height: 100%;
   width: 100%;
   overflow-x: hidden;
}

.sidebar-content {
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   padding-top: .615rem;
}

.sidebar-elements {
   margin: 0;
   padding: 0;
   
   a {
      position: relative;
   }
   
   .sub-menu .sub-menu {
      padding: 0;
      padding-left: map-get($spacers, 2);
   }

   .divider {
      color: $sidebar-divider-color;
      font-weight: $font-weight-bold;
      padding: map-get($spacers, 2) $sidebar-main-level-padding;
      line-height: $line-height-base;
      text-transform: uppercase;
      font-size: $font-size-sm;
      
      &:not(:first-child) {
         &:before {
            content: "";
            display: block;
            padding: 0;
            margin: map-get($spacers, 1) auto;
            border-bottom: 1px solid $sidebar-divider-bg;
            width: $sidebar-width - ($sidebar-main-level-padding * 2);
            height: auto;
         }
      }
   }

   //First Level
   > li {
      list-style: none;

      > a {
         display: block;
         padding: 0 $sidebar-main-level-padding;
         color: $sidebar-color;
         font-size: $sidebar-main-level-font-size;
         line-height: $sidebar-main-level-height;
         text-overflow: ellipsis;
         overflow: hidden;
         white-space: nowrap;

         .icon {
            line-height: $sidebar-main-level-height;
            font-size: $sidebar-icon-size;
            min-width: $sidebar-icon-size;
            margin-right: $spacer * .692;
            text-align: center;
            vertical-align: middle;
         }
         
         > span {
            vertical-align: middle;
         }
         
         &:hover {
            background-color: $sidebar-level-bg;

            > .icon,
            > span {
               color: $sidebar-hover-color;
            }
         }
      }
      
      > ul {
         background-color: $sidebar-sub-level-bg;
         border-top: 1px solid $sidebar-border-color;
         border-bottom: 1px solid $sidebar-border-color;
      }
      
      ul {
         display: none;
         padding: map-get($spacers, 1) 0;
         list-style: none;
         line-height: 1.538rem;
         
         .title {
            display: none;
         }
         
         .sk-collapsible-sidebar & {
            .content > ul {
               padding-left: 0;
            }
         }
         
         li {
            > a {
               padding: $sidebar-sub-level-padding;
               color: $sidebar-sub-level-color;
               font-size: $sidebar-sub-level-font-size;
               display: block;
               text-overflow: ellipsis;
               overflow: hidden;
               white-space: nowrap;
               
               &:hover {
                  background-color: $sidebar-sub-level-hover;
               }
            }
            
            &.active > a {
               color: $sidebar-theme;
            }
            
            ul {
               padding-top: 0;
               padding-bottom: 0;
               padding-left: 0;
            }
            
            > ul {
               padding: map-get($spacers, 1) 0;
               
               > li ul {
                  padding: map-get($spacers, 1) 0;
               }
            }
         }
      }
      
      //First level active
      &.active {
         > a {
            padding-left: $sidebar-main-level-padding;
            color: $sidebar-theme;

            > span {
               color: $sidebar-theme;
            }
            
            &:before {
               content: "";
               display: block;
               position: absolute;
               left: 0;
               top: 0;
               height: 100%;
               width: 4px;
               background-color: $sidebar-theme;
            }
         }
      }

      &.open,
      &.open > ul .nav-items .content {
         
         > ul {
            display: block;
         }
      }
   }
   
   li {
      
      &.active {
         > a {
            font-weight: 500;
         }
      }
      
      > a {
         display: flex !important;
         align-items: center !important;
         
         > span.text {
            flex: 1 1 auto;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            min-width: 0;
         }
         
         &:after,
         > .badge,
         > .icon {
            flex: 0 0 auto;
         }
      }
      
      &.parent {
         > a {
            &:after {
               content: '\f2f2';
               float: right;
               font-family: $icons-font;
               font-size: 1.615rem;
               margin-left: $spacer * .692;
            }
         
            &:hover:after {
               color: $sidebar-theme;
            }
         }
      }
      
      &.open {
         > ul {
            display: block;
         }
      }
   }
}

.sidebar[data-#{$sk-variable-prefix}type="fixed"],
.sk-offcanvas-menu .sidebar {
   max-width: 290px;
   position: fixed;
   height: 100vh;
   top: 0;
   left: -($sidebar-width + 10);
   z-index: $zindex-navbar-fixed - 1;
   background-color: $sidebar-bg;
   -webkit-box-shadow: 0 .462rem 1.385rem 0 rgba(0,0,0,.18);
   box-shadow: 0 .462rem 1.385rem 0 rgba(0,0,0,.18);
   border-right-width: 0;
   margin-top: var(--#{$sk-variable-prefix}sidebar-offset);
   padding-bottom: var(--#{$sk-variable-prefix}sidebar-offset);
}

.sk-animate .sidebar {
   -webkit-transition: all .35s ease;
   transition: all .35s ease;
}


/**
 * #type: fixed
 */

@include media-breakpoint-up(md) {
   .sidebar[data-#{$sk-variable-prefix}type="fixed"] {
      position: sticky;
      top: var(--#{$sk-variable-prefix}sidebar-offset);
      height: 100vh;
      width: $sidebar-width;
      min-width: $sidebar-width;
      max-height: calc(100vh - var(--#{$sk-variable-prefix}sidebar-offset));
      -webkit-box-shadow: none;
      box-shadow: none;
      border-right: 1px solid $sidebar-border-color;
      margin: 0;
      padding: 0;
   }
}
