/* - Top header - */

.sk-nosidebar-left {
   .sidebar-toggle,
   .sidebar {
      display: none !important;
   }
   
   .navbar-brand {
      margin-left: $top-header-padding-x - $top-header-nav-icon-padding !important;
   }
}

[data-scroll]:not([data-scroll="0"]) .sk-top-header,
.sk-top-header.border-bottom {
   --#{$sk-variable-prefix}header-border-rgb: var(--#{$prefix}border-color-translucent);
   --#{$sk-variable-prefix}header-shadow:     0px .0625rem .125rem rgba(0, 0, 0, .1);
}

.sk-top-header {
   --#{$prefix}bg-opacity: 1;
	background-color: $top-header-bg;
	border: 0;
	padding: 0;
	border-bottom: $top-header-border-bottom;
	box-shadow: $top-header-box-shadow;
			
	@media print {
		display: none;
	}
	
	.container-fluid {
      display: flex;
      align-items: stretch;
      padding: 0;
      height: $top-header-height;
   }
   
	// Centre Navbar
	.page-title {
      display: flex;
      align-items: center;
		font-size: $top-header-title-fs;
		flex: 1 1 auto;
		padding: 0 $top-header-title-px;
      min-width: 0;
		overflow: hidden;
   }
   
	.navbar-nav {
		display: flex;
      align-items: center;
      gap: var(--#{$sk-variable-prefix}icon-navbar-gap);
      
      > .nav-item > .dropdown-menu {
         --#{$prefix}dropdown-spacer: var(--#{$sk-variable-prefix}navbar-dropdown-top);
      }
   }
}
   
// Left Navbar
.sk-navbar-header {
   display: flex;
   align-items: center;
   width: 100%;
   min-width: 0;
   max-width: $sidebar-width;
   
   .sidebar-toggle {
      margin-left: $top-header-padding-x - $top-header-nav-icon-padding;
      margin-right: $top-header-menu-icon-padding - $top-header-nav-icon-padding;
   }
   
   .navbar-brand {
      display: flex;
      align-items: center;
		flex: 1 1 auto;
      height: $top-header-logo-height;
      max-height: $top-header-height;
      background-image: $top-header-logo-image;
      background-repeat: no-repeat;
      background-position: $top-header-logo-position;
      background-size: $top-header-logo-size;
   }
}
	
// Right navbar
.sk-right-navbar {
   display: flex;
   flex: 0 0 auto;
   padding-right: $top-header-padding-x;
   
   .dropdown-toggle::after {
      display: none;
   }
}

// Top Header Navbars
.sidebar-toggle,
.sk-icons-nav > .nav-item > .nav-link {
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   padding: $top-header-nav-icon-padding;
   font-size: $top-header-nav-icon-size;
   border-radius: 50%;
   color: $top-header-icon-color;
   aspect-ratio: 1 / 1;
   
   &:hover {
      color: $top-header-icon-hover-color;
      background-color: $top-header-icon-hover-bg;
   }
   
   &:hover:active {
      color: $top-header-icon-active-color;
      background-color: $top-header-icon-active-bg;
      outline: 1px solid $top-header-icon-outline;
   }
   
   svg, img, .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      width: 1em;
      height: 1em;
      fill: currentcolor;
      font-size: 1em;
      line-height: 0;
      text-align: center;
      aspect-ratio: 1 / 1;
   }
}

@include media-breakpoint-down(md) {
   .sk-top-header .page-title {
      display: none;
   }
}

@include media-breakpoint-down(sm) {
   .sk-top-header {
      .navbar-nav > .nav-item.dropdown > .dropdown-menu {
         --#{$prefix}dropdown-spacer: 0;
         --#{$prefix}dropdown-border-radius: 0;
         border-right:0;
         border-left: 0;
      }
   }
}

.sk-navbar-menus > .dropdown > .dropdown-menu {
   position: fixed;
   left: auto;
   right: map-get($spacers, 4);
   top: $top-header-height;
   max-height: calc(100vh - #{$top-header-height + $top-header-dropdown-bottom} - var(--#{$prefix}dropdown-spacer));
   overflow-y: auto;
   overscroll-behavior: contain;
   
   @include media-breakpoint-down(sm) {
      max-height: calc(100vh - #{$top-header-height} - var(--#{$prefix}dropdown-spacer));
      margin: 1px 0 0 0;
      left: 0;
      bottom: 0;
      right: 0;
      box-shadow: none;
      border-width: 0;
      border-radius: 0;
      width: 100%;
   }
}
