/* - Top header - */

.be-nosidebar-left {
   .be-toggle-left-sidebar,
   .be-left-sidebar {
      display: none !important;
   }
   
   .navbar-brand {
      margin-left: $top-header-padding-x - $top-header-nav-icon-padding !important;
   }
}

.be-top-header {
	background-color: $top-header-bg;
	border: $top-header-border;
	margin-bottom: $top-header-margin-bottom;
	border-bottom: $top-header-border-bottom;
	padding: 0;
	box-shadow: $top-header-box-shadow;
			
	@media print {
		display: none;
	}
	
	.container-fluid {
      display: flex;
      align-items: stretch;
      padding: 0;
      height: $top-header-height;
   }
   
	// Centre Navbar
	.page-title {
      display: flex;
      align-items: center;
		font-size: $top-header-title-size;
		flex: 1 1 auto;
		padding: $top-header-title-padding;
		overflow: hidden;
		
		.page-title-content {
			display: block;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
   }
   
	.navbar-nav {
		display: flex;
      align-items: center;
      
      > .nav-item {
         margin: auto .15rem;

         &.dropdown {
            .dropdown-menu {
               margin-top: .923rem;
            }
         }
      }
   }
}
   
// Left Navbar
.be-navbar-header {
   display: flex;
   width: 100%;
   max-width: $left-sidebar-width;
   
   .be-toggle-left-sidebar {
      align-self: center;
      margin-left: $top-header-padding-x - $top-header-nav-icon-padding;
      margin-right: $top-header-menu-icon-padding - $top-header-nav-icon-padding;
   }
   
   .navbar-brand {
      display: flex;
      align-self: stretch;
      align-items: center;
		flex: 1 1 auto;
      max-height: $top-header-height;
      padding: 0;
      margin: $top-header-logo-margin;
      display: block;
      @if $img-logo-path != "" { background-image: url("#{$img-logo-path}"); }
      background-repeat: no-repeat;
      background-position: $top-header-logo-position;
      background-size: $top-header-logo-size;
   }
}
	
// Right navbar
.be-right-navbar {
   display: flex;
   flex: 0 0 auto;
   padding-right: $top-header-padding-x;
}

// Top Header Navbars
.be-toggle-left-sidebar,
.be-icons-nav > .nav-item > .nav-link {
   display: flex;
   align-items: center;
   text-align: center;
   padding: $top-header-nav-icon-padding;
   font-size: $top-header-nav-icon-size;
   border-radius: 50%;
   color: $top-header-icon-color;
   
   &:hover {
      color: $top-header-icon-hover-color;
      background-color: $top-header-icon-hover-bg;
   }
   
   &:hover:active {
      color: $top-header-icon-active-color;
      background-color: $top-header-icon-active-bg;
      outline: 1px solid $top-header-icon-outline;
   }
   
   svg, .icon {
      display: block;
      line-height: $top-header-nav-icon-lh;
      font-size: $top-header-nav-icon-size;
      width: $top-header-nav-icon-size;
      height: $top-header-nav-icon-size;
      text-align: center;
   }
}

/* ### BEGIN PHONE ### */
@include media_size("phone") {
   .be-top-header .page-title {
      display: none;
   }
}

@include media_size("small-phone") {
   .be-top-header {
      .navbar-nav > .nav-item.dropdown .dropdown-menu {
         margin: 0;
         border-top: 1px solid darken($body-color, 6%);
         border-right:0;
         border-bottom: 1px solid darken($body-color, 6%);
         border-left: 0;
         border-radius: 0;
      }
   }
}
/* ### END PHONE ### */

.be-icons-nav.menu-end,
.be-user-nav.menu-end {
	> .dropdown > .dropdown-menu {
      position: fixed;
		left: auto;
		right: map-get($spacers, 4);
      overflow-y: auto;
      overscroll-behavior: contain;
      top: $top-header-height;
      max-height: calc(100vh - #{$top-header-height});
	
      @include media_size("phone-min")
      {
         max-height: calc(100vh - #{$top-header-height} - #{$content-padding});
      }
	
		@include media_size("small-phone") {
			left: 0;
			right: 0;
		}
		
		@include media_size("desktop-min")
		{
			.be-mega-menu & {
				left: 50%;
				transform: translateX(-50%);
			}
		}
	}
}

/* ## DEV ## */
$devbg-col1: #eeffcc;
$devot-col1: #ff99cc;
$devbg-col2: #ffcc99;

.be-top-headers {
   .navbar-brand,
   .be-toggle-left-sidebar,
	.navbar-nav > .nav-item > .nav-link {
      background-color: $devbg-col1;
      outline: solid 1px $devot-col1;
      
      svg, .icon {
         background-color: $devbg-col2;
      }
   }
}
