/* - Top header - */

.sk-nosidebar-left {
   .sidebar-toggle,
   .sidebar {
      display: none !important;
   }
   
   .navbar-brand {
      margin-left: $top-header-padding-x - $top-header-nav-icon-padding !important;
   }
}

.sk-top-header {
	background-color: $top-header-bg;
	border: $top-header-border;
	margin-bottom: $top-header-margin-bottom;
	border-bottom: $top-header-border-bottom;
	padding: 0;
	box-shadow: $top-header-box-shadow;
			
	@media print {
		display: none;
	}
	
	.container-fluid {
      display: flex;
      align-items: stretch;
      padding: 0;
      height: $top-header-height;
   }
   
	// Centre Navbar
	.page-title {
      display: flex;
      align-items: center;
		font-size: $top-header-title-size;
		flex: 1 1 auto;
		padding: $top-header-title-padding;
		overflow: hidden;
		
		.page-title-content {
			display: block;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
   }
   
	.navbar-nav {
		display: flex;
      align-items: center;
      
      > .nav-item {
         margin: 0 calc(var(--#{$sk-variable-prefix}icon-navbar-gx) * .5);

         &.dropdown {
            .dropdown-menu {
               margin-top: var(--#{$sk-variable-prefix}navbar-dropdown-top);
            }
         }
         
         @include media-breakpoint-down(md) {
            margin: 0 calc(var(--#{$sk-variable-prefix}icon-navbar-gx-sm) * .5);
         }
      }
   }
}
   
// Left Navbar
.sk-navbar-header {
   display: flex;
   width: 100%;
   max-width: $sidebar-width;
   
   .sidebar-toggle {
      align-self: center;
      margin-left: $top-header-padding-x - $top-header-nav-icon-padding;
      margin-right: $top-header-menu-icon-padding - $top-header-nav-icon-padding;
   }
   
   .navbar-brand {
      display: flex;
      align-self: stretch;
      align-items: center;
		flex: 1 1 auto;
      max-height: $top-header-height;
      padding: 0;
      margin: $top-header-logo-margin;
      display: block;
      @if $img-logo-path != "" { background-image: url("#{$img-logo-path}"); }
      background-repeat: no-repeat;
      background-position: $top-header-logo-position;
      background-size: $top-header-logo-size;
   }
}
	
// Right navbar
.sk-right-navbar {
   display: flex;
   flex: 0 0 auto;
   padding-right: $top-header-padding-x;
}

// Top Header Navbars
.sidebar-toggle,
.sk-icons-nav > .nav-item > .nav-link {
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   padding: $top-header-nav-icon-padding;
   font-size: $top-header-nav-icon-size;
   border-radius: 50%;
   color: $top-header-icon-color;
   
   &:hover {
      color: $top-header-icon-hover-color;
      background-color: $top-header-icon-hover-bg;
   }
   
   &:hover:active {
      color: $top-header-icon-active-color;
      background-color: $top-header-icon-active-bg;
      outline: 1px solid $top-header-icon-outline;
   }
   
   svg, .icon {
      display: block;
      font-size: 1em;
      line-height: 0;
      width: 1em;
      height: 1em;
      text-align: center;
   }
   
   .icon {
      display: flex;
      align-items: center;
      justify-content: center;
   }
}

/* ### BEGIN PHONE ### */
@include media_size("phone") {
   .sk-top-header .page-title {
      display: none;
   }
}

@include media_size("small-phone") {
   .sk-top-header {
      .navbar-nav > .nav-item.dropdown .dropdown-menu {
         margin: 0;
         border-top: 1px solid darken($body-color, 6%);
         border-right:0;
         border-bottom: 1px solid darken($body-color, 6%);
         border-left: 0;
         border-radius: 0;
      }
   }
}
/* ### END PHONE ### */

.sk-icons-nav.menu-end,
.sk-user-nav.menu-end {
	> .dropdown > .dropdown-menu {
      position: fixed;
		left: auto;
		right: map-get($spacers, 4);
      overflow-y: auto;
      overscroll-behavior: contain;
      top: $top-header-height;
      max-height: calc(100vh - #{$top-header-height});
	
      @include media_size("phone-min")
      {
         max-height: calc(100vh - #{$top-header-height} - #{$content-padding});
      }
	
		@include media_size("small-phone") {
			left: 0;
			right: 0;
		}
		
		@include media_size("desktop-min")
		{
			.sk-mega-menu & {
				left: 50%;
				transform: translateX(-50%);
			}
		}
	}
}
