/* --- Email Template --- */

$email-template-max-width:				680px !default;
$email-template-border-top-width:	.5rem !default;

.email-template
{
   max-width: $email-template-max-width;
   border-radius: 0;
   
   > .card {
      margin: 0 auto;
      border-top-width: $email-template-border-top-width;
   }
}
