/* --- User Timeline --- */

$user-timeline-bg-color:			$primary !default;
$user-timeline-icon-size:			1rem !default;
$user-timeline-icon-border-width:	$border-width !default;
$user-timeline-border-width:		.125rem !default;
$user-timeline-padding-left:		map-get($spacers, 3) !default;
$user-timeline-padding-bottom:		map-get($spacers, 4) !default;
$user-timeline-line-height:			1.5 !default;
$user-timeline-date-color:			$gray-500 !default;
$user-timeline-date-font-size:		$font-size-sm !default;

.user-timeline {
	position: relative;
	display: block;
	padding: 0;
	list-style: none;

	&:before {
		content: "";
		display: block;
		position: absolute;
		left: ($user-timeline-icon-size * .5) - ($user-timeline-border-width * .5);
		top: ($user-timeline-icon-size * .5) + ($user-timeline-line-height * .5);
		bottom: $user-timeline-icon-size * .25;
		height: auto;
		width: $user-timeline-border-width;
		background-color: $user-timeline-bg-color;
	}

	&:after {
		content: "";
		display: block;
		position: absolute;
		left: ($user-timeline-icon-size * .25);
		bottom: 0;
		height: $user-timeline-icon-size * .5;
		width: $user-timeline-icon-size * .5;
		background-color: $user-timeline-bg-color;
		border-radius: 50%;
	}

	> li {
		display: block;
		position: relative;
		padding-left: $user-timeline-icon-size + $user-timeline-padding-left;
		padding-bottom: $user-timeline-padding-bottom;

		&:before {
			content: "";
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			margin-top: ($user-timeline-line-height * .5rem) - ($user-timeline-icon-size * .5);
			height: $user-timeline-icon-size;
			width: $user-timeline-icon-size;
			background-color: $white;
			border-radius: 50%;
			border: $user-timeline-icon-border-width solid $user-timeline-bg-color;
		}

		&.latest {
			&:before {
				background-color: $user-timeline-bg-color;
			}
		}
		
		p:last-child {
			margin-bottom: 0;
		}
	}

	&-date {
		display: block;
		line-height: $user-timeline-line-height * 1rem;
		color: $user-timeline-date-color;
		font-size: $user-timeline-date-font-size;
		margin-bottom: map-get($spacers, 1);
	}

	&-title {
		display: block;
		font-size: $h5-font-size;
		font-weight: $font-weight-bold;
	}
}
