/*------------------------------------------------------------------
  Loader
*/

.be-loading
{
	position: relative;

	&:after
	{
		position: absolute;
		display: block;
		visibility: hidden;
		opacity: 0;
		content: "";
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background: $loader-background;
		-webkit-transition: all .2s ease;
		transition: all .2s ease;
		z-index: 2;
	}

	.be-spinner
	{
		display: none;
	}

	&-active
	{
		&:after
		{
			visibility: visible;
			opacity: 1;
		}

		.be-spinner
		{
			display: block;
		}
	}
}

.be-spinner
{
	.be-loading &
	{
		position: absolute;
		top: 50%;
		right: 50%;
		margin-top: -20px;
		margin-right: -20px;
		z-index: 3;
	}

	svg
	{
		-webkit-animation: be-spinner-rotation 1.4s linear infinite;
		animation: be-spinner-rotation 1.4s linear infinite;
		stroke: $primary-color;

		.circle
		{
			stroke-dasharray: 187;
			stroke-dashoffset: 0;
			-webkit-transform-origin: center;
			transform-origin: center;
			-webkit-animation: be-spinner-turn 1.4s ease-in-out infinite;
			animation: be-spinner-turn 1.4s ease-in-out infinite;
		}
	}
}

@-webkit-keyframes be-spinner-rotation
{
	0%
	{
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100%
	{
		-webkit-transform: rotate(270deg);
		transform: rotate(270deg);
	}
}

@keyframes be-spinner-rotation
{
	0%
	{
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100%
	{
		-webkit-transform: rotate(270deg);
		transform: rotate(270deg);
	}
}

@-webkit-keyframes be-spinner-turn
{
	0%
	{
		stroke-dashoffset: 187;
	}

	50%
	{
		stroke-dashoffset: 46.75;
		-webkit-transform: rotate(135deg);
		transform: rotate(135deg);
	}

	100%
	{
		stroke-dashoffset: 187;
		-webkit-transform: rotate(450deg);
		transform: rotate(450deg);
	}
}

@keyframes be-spinner-turn
{
	0%
	{
		stroke-dashoffset: 187;
	}

	50%
	{
		stroke-dashoffset: 46.75;
		-webkit-transform: rotate(135deg);
		transform: rotate(135deg);
	}

	100%
	{
		stroke-dashoffset: 187;
		-webkit-transform: rotate(450deg);
		transform: rotate(450deg);
	}
}
