/*------------------------------------------------------------------
  [Option Buttons]
*/

.be-option-buttons
{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	list-style: none;
	padding: 0;
	-ms-flex-pack: distribute;
	justify-content: space-around;
}

.be-option-button
{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	text-align: center;
	color: $body-color;
	padding: .923rem 1.615rem;
	border-radius: 3px;
	min-width: 8.231rem;
	
	&:hover
	{
		background-color: $konkon-color;
		color: $white;
	}
	
	.icon
	{
		font-size: 1.615rem;
		font-weight: 400;
	}
}