/*------------------------------------------------------------------
	[Main wrapper]
*/
.be-wrapper
{
	min-height: 100%;
	padding-top: $top-header-height + 1px;

	@include media_size("small-phone")
	{
		overflow-x: hidden;
	}
}

@media print
{
	.be-wrapper
	{
		padding-top: 0;
	}
}

@include media_size("non-responsive")
{
	.be-wrapper.be-boxed-layout
	{
		max-width: 1200px;
		position: relative;
		margin: 0 auto;
		overflow: hidden;
		background-color: #f1f1f1;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-shadow: 0 0 7px 2px rgba(0, 0, 0, .05);
		box-shadow: 0 0 7px 2px rgba(0, 0, 0, .05);
	}
}

// Experimental
.be-wrapper.be-footer-flex
{
   min-height: 100%;
   display: flex;
   flex-direction: column !important;

   > .be-content
   {
      width: 100%;
      margin-bottom: auto !important;
      align-self: flex-start !important;
   }
   
   > .skk-footer
   {
      width: 100%;
      align-self: flex-start !important;
   }
}

.be-wrapper > footer,
.skk-footer {
   width: 100%;
   padding: 0;
   color: #667684;
   background-color: #f9f9f9;
   border-top: 0.05rem solid #e5e5e5;
}

.skk-footer {
   font-size: 0.875rem;
   text-align: center;
   
   @include media_size("phone-min") {
      text-align: left;
   }

   &-links {
      padding-left: 0;
      margin-bottom: 1rem;

      li {
         display: inline-block;
      }

      li + li {
         margin-left: 1rem;
      }
   }

   a {
      font-weight: 600;
      color: #667684;
   }

   p {
      font-size: 0.875rem;
      margin-bottom: 0;
   }
}
