.sk-examples .dropdown-menu {
  position: static !important;
  display: block !important;
}

.sk-examples .dropdown-menu > a > i.zmdi {
  display: inline-block;
  width: 1rem;
}

.sk-examples .sk-examples-form-check .form-check-input:checked + label {
  opacity: 0.25;
  text-decoration: line-through;
}
